<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d795c350-e29f-494d-8082-a84da7a464bc" name="test" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d795c350-e29f-494d-8082-a84da7a464bcfileName">test</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value>10.246.89.107:23621</con:value>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value>10.246.89.108:22641</con:value>
    </con:property>
    <con:property>
      <con:name>EnvIP</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>EOSHost</con:name>
      <con:value>10.246.89.109</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.24</con:value>
    </con:property>
    <con:property>
      <con:name>bankUserID</con:name>
      <con:value>E212777</con:value>
    </con:property>
    <con:property>
      <con:name>pwhConnectionString</con:name>
      <con:value>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_s1_19c)))</con:value>
    </con:property>
    <con:property>
      <con:name>rbsBankConnectionString</con:name>
      <con:value>jdbc:oracle:thin:bank/bank@10.246.89.97:1530/rbst5_taf</con:value>
    </con:property>
    <con:property>
      <con:name>rbsForfallConnectionString</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D5</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="5308c353-4431-4cea-b441-bc9253a6e90e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
