<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="6ca37306-b9a5-4976-87c0-b38c26979605" created="3.3.2" activeEnvironment="G-S1" name="PaymentUtil" resourceRoot="" updated="3.20.1" compositeProjectFormat="1.3" encryptionMode="Not encrypted" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6ca37306-b9a5-4976-87c0-b38c26979605fileName">PaymentUtil</con:setting>
  </con:settings>
  <con:properties>
    <con:property>
      <con:name>G-D4</con:name>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>PWHDATA</con:name>
      <con:driver xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
      <con:connectionString xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
      <con:password/>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>import com.eviware.soapui.impl.wsdl.teststeps.JdbcRequestTestStep
def time =  java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMddHHmmssSSS'))
def date1 = java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMdd')) 

def objProject = testRunner.getTestCase().getTestSuite().getProject()
def projPath = objProject.getPath()

filePath =projPath + File.separator + "results"
new File(filePath).mkdir()
filePathDate =filePath + File.separator +date1 + File.separator
new File(filePathDate).mkdir()
def suiteName = testRunner.testCase.testSuite.name.replaceAll("[^a-zA-Z0-9]+","");
filePathSuite = filePath + File.separator +date1 + File.separator + suiteName + File.separator 
new File(filePathSuite).mkdir()

 fos = new FileOutputStream(filePathSuite + testRunner.testCase.name + "_"+ testStepResult.testStep.label + time + '.txt', true)
 pw = new PrintWriter(fos)
 def CurrentStep = testRunner.testCase.getTestStepAt(context.getCurrentStepIndex()).getLabel()
def testStep =  testRunner.testCase.getTestStepByName(CurrentStep)
log.info "Before-->"
if ( testStep instanceof JdbcRequestTestStep )
{
	def lineSeperator =  "\n ****************************************************************************\n " 
	def res = 	 testStep.testRequest.response.getRequestContent() + lineSeperator +  testStep.testRequest.response.responseContent	
	pw.write(res)
}
else{
	log.info CurrentStep
	testStepResult.writeTo(pw)
}
 pw.close()
 fos.close()</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="ProjectRunListener.beforeRun" name="ProjectRunListener.beforeRun">
    <con:script>ProjectEnvironments.load(projectRunner,context,log)</con:script>
  </con:eventHandlers>
  <con:environment id="82982cfa-6681-4674-8497-3ba49ba4579b" name="G-D6" index="0">
    <con:service type="SOAP" name="PINSPaymentUtil_V2_1PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:22641/pin/services/PINSPaymentUtil_V2_1</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentUtil_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:22641/pin/services/PINSPaymentUtil_V2_0</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value>10.246.89.107:23621</con:value>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value>10.246.89.108:22641</con:value>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@10.246.89.97:1530/pwh_g_d6</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="f5f95973-ec0d-4dd0-9eed-c0d2494dd342" name="G-D4" index="1">
    <con:service type="SOAP" name="PINSPaymentUtil_V2_1PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:22641/pin/services/PINSPaymentUtil_V2_1</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentUtil_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:22641/pin/services/PINSPaymentUtil_V2_0</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value>10.246.89.108:22641</con:value>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value>10.246.89.107:23621</con:value>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d4)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="b56b603c-45e4-4694-ab18-b181eecb8c87" name="G-S1" index="2">
    <con:service type="SOAP" name="PINSPaymentUtil_V2_1PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:22641/pin/services/PINSPaymentUtil_V2_1</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentUtil_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:22641/pin/services/PINSPaymentUtil_V2_0</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value>10.246.89.107:23621</con:value>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value>10.246.89.108:22641</con:value>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:PWHDATA/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_s1_19c )))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
