<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1f309d19-0c77-4f46-a14b-02f569528ade" name="PAIN002_AdviceBatch" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1f309d19-0c77-4f46-a14b-02f569528adefileName">PAIN002_AdviceBatch</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>TestSuiteResult</con:name>
      <con:value>FAIL</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>testSuite.setPropertyValue("TestSuiteResult", "OK")</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
