<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e8e40327-f951-4432-bcfd-9f194bd391fd" name="InternalNote_PaymentRead_V1_6 to V2_1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="4d815266-1fba-4f79-9d17-6ad2499d730afileName">Active_PaymentSearches_V1_5-to-V2_0</con:setting>
    <con:setting id="e8e40327-f951-4432-bcfd-9f194bd391fdfileName">InternalNote_PaymentRead_V1_6-to-V2_1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>