<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d742f4cd-80b2-4155-a60c-1627a7932087" name="BEL" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d742f4cd-80b2-4155-a60c-1627a7932087fileName">BEL</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>800054230</con:value>
    </con:property>
    <con:property>
      <con:name>Userid</con:name>
      <con:value>4230</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>4230</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>96500284592</con:value>
    </con:property>
    <con:property>
      <con:name>Credentials</con:name>
      <con:value>03110012010400425kglPboRi3h16OVtVL1neI9CfuAtjCBO603eS0IgWm1WWIO7EfpSL4DE%2FlDFi69n1sSaabKNt2t%2BxJppso23a37EmmmyjbdrfutbV53%2FUXGOxjDkLmirISLEmmmyjbdrfsSaabKNt2t%2FXzlyjxYnxhcG46wcbIKp%2FsSaabKNt2t9wBUG0SyIoqFfig80Gq4uXVBtimDzTiu2xJppso23a37Emmmyjbdrf8wP73CNrvpw%3DH5LS2JD%2BVebr3PytlKAocCy8%2FCcrl7tRSepyb0jhKW8A8k07nuvorl7Xoscy%2BybGjXIr2Zj%2Fvprt%2BD1IueT5rqEcvxyyr%2FYELRuLkDS94SfjVw%2FszcGGYfeWnI2Z1NwXorQAZPvT5U6Edafp2sbvWiNKkrzCmFJ4YcuHbGSJCYk%3D</con:value>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value>4201</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="18459c06-961f-4414-be8b-6f6090120465">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="051c6d1b-b7d4-4653-b999-95748fdedfc2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
