<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0372caec-12a6-4d66-97dc-09be1dde7c85" name="TestDateSetUp" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0372caec-12a6-4d66-97dc-09be1dde7c85fileName">TestDateSetUp</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>orgid</con:name>
      <con:value>4201</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>01016003499</con:value>
    </con:property>
    <con:property>
      <con:name>userid</con:name>
      <con:value>01016003499</con:value>
    </con:property>
    <con:property>
      <con:name>value2</con:name>
      <con:value>01016003499</con:value>
    </con:property>
    <con:property>
      <con:name>agreementid</con:name>
      <con:value>01016003499</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccount</con:name>
      <con:value>96550145224</con:value>
    </con:property>
    <con:property>
      <con:name>logRef</con:name>
      <con:value>${=CommonLibrary.getDate("ddMMyyyy_HHmmss")}-${=context.getCurrentStep().getTestCase().getLabel()}</con:value>
    </con:property>
    <con:property>
      <con:name>debitCurrency</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>endtoendID</con:name>
      <con:value>Search29422013931</con:value>
    </con:property>
    <con:property>
      <con:name>ReqExnDate</con:name>
      <con:value>${= java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyy-MM-dd'))}</con:value>
    </con:property>
    <con:property>
      <con:name>creditBIC4701</con:name>
      <con:value>SNOWNO22XXX</con:value>
    </con:property>
    <con:property>
      <con:name>creditAccount4701</con:name>
      <con:value>49610127273</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
