<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d5f1b84f-4d58-49f8-aa11-6da25e154a5e" name="notify_subscribe" xmlns:con="http://eviware.com/soapui/config">
  <con:description>sample test cases for all notifications to send to test env.

Check : https://wiki.finods.com/display/projects/Technical+details+-+Notify+subscriber+notification

Check : https://wiki.finods.com/display/projects/How+to+test+notify+subscribe+in+pin for preparation/setup required prior testing.</con:description>
  <con:settings>
    <con:setting id="d5f1b84f-4d58-49f8-aa11-6da25e154a5efileName">notify_subscribe</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2c7c9c19-78ea-4d79-a47c-65f6bd5e0af1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="22f77e13-f328-4bef-9b4b-45addbcaf81a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="30ce6aa7-0555-47cb-8540-05b627d5adbf">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
