<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c3428865-9639-42dd-82bb-91fc15a1246f" name="StatusUpdateRegression_BM" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bddee765-99d9-4d13-b426-0ba55e5c0052fileName">StatusUpdateRegression_T</con:setting>
    <con:setting id="c3428865-9639-42dd-82bb-91fc15a1246ffileName">StatusUpdateRegression_BM</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">false</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
