<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="60e30861-ab21-4c0a-9da6-004de7dca1d5" name="FraudPayment" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Suite to execute regression test for Fraud Payments and SO Fraud scenarios</con:description>
  <con:settings>
    <con:setting id="7c2fa0fb-62f3-4df7-ab10-f73ea70611d1fileName">FraudPayment</con:setting>
    <con:setting id="60e30861-ab21-4c0a-9da6-004de7dca1d5fileName">FraudPayment</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>03125201236</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>03125201236</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>03125201236</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>44100544595</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>customerid_GBP</con:name>
      <con:value>12017804934</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_GBP</con:name>
      <con:value>804934</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_GBP</con:name>
      <con:value>804934</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_GBP</con:name>
      <con:value>42010101209</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode_GBP</con:name>
      <con:value>GBP</con:value>
    </con:property>
    <con:property>
      <con:name>customerid_EUR</con:name>
      <con:value>32331473498</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_EUR</con:name>
      <con:value>473498</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_EUR</con:name>
      <con:value>473498</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_EUR</con:name>
      <con:value>42009512262</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode_EUR</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>fraudMessage</con:name>
      <con:value>FraudM</con:value>
    </con:property>
    <con:property>
      <con:name>fraudAccountNumber</con:name>
      <con:value>42010224130</con:value>
    </con:property>
    <con:property>
      <con:name>fraudAddress</con:name>
      <con:value>10.10.10.10</con:value>
    </con:property>
    <con:property>
      <con:name>fraudCustomer</con:name>
      <con:value>32338717708</con:value>
    </con:property>
    <con:property>
      <con:name>fraudName</con:name>
      <con:value>Albrekt</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumberKundner</con:name>
      <con:value>42010305386</con:value>
    </con:property>
    <con:property>
      <con:name>currencyKundner</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>channelKundner</con:name>
      <con:value>BES</con:value>
    </con:property>
    <con:property>
      <con:name>credAccountNumber</con:name>
      <con:value>44100556070</con:value>
    </con:property>
    <con:property>
      <con:name>credentials</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:setupScript>//def objProject = context.getTestSuite().getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")
//log.info "TestSuite setUp script!! $projPath${File.separator}scripts"
////try{System.sleep(12000)}catch(Exception e){}</con:setupScript>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="7db1644e-2473-4463-959a-051b4ca66469">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
