<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="816c43c7-b711-4a09-8259-e040a8871ad4" name="FilePayment_UnApproveSingleTransaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b29b7865-83c6-4f62-8f39-e453a7f33b94fileName">FilePayment_SingleTransaction</con:setting>
    <con:setting id="7d44ad49-fdb8-4d7d-88d3-1b3881622265fileName">FilePayment_ApproveSingleTransaction</con:setting>
    <con:setting id="816c43c7-b711-4a09-8259-e040a8871ad4fileName">FilePayment_UnApproveSingleTransaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>