<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="PreDefinedCreditor_v2_1" id="aec8e7fc-35f2-4594-a431-b87483aa4d6c" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Smoke test suite for PDC and Template v2_1 version.</con:description>
  <con:settings>
    <con:setting id="aec8e7fc-35f2-4594-a431-b87483aa4d6cfileName">PreDefinedCreditor_v2_1</con:setting>
    <con:setting id="7b84433e-3d39-4adb-98e1-d48e8beabb6dfileName">PreDefinedCreditor_v2_1_new</con:setting>
    <con:setting id="5e2981a2-3882-41d8-8605-5333ecbd4b17fileName">PreDefinedCreditor_v2_1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>intIntermediary3</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed3NationalId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermediary2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed2NationalId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed1NationalId</con:name>
      <con:value>1234</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency6</con:name>
      <con:value>GBP</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency5</con:name>
      <con:value>CNY</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency4</con:name>
      <con:value>JPY</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency3</con:name>
      <con:value>USD</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency2</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency1</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>intIntermediary1</con:name>
      <con:value>BOFAUS6SXXX</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCreditAccountCcy</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intCreditAccountCcy</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>debtCountry</con:name>
      <con:value>FI</con:value>
    </con:property>
    <con:property>
      <con:name>intCreditAccount</con:name>
      <con:value>1233443554656</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBic</con:name>
      <con:value>CITIUS33XXX</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry</con:name>
      <con:value>US</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCredAgentCountry</con:name>
      <con:value>DE</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCreditAccount</con:name>
      <con:value>DE89370400440532013000</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCredAgentBic</con:name>
      <con:value>DAAEDEDDXXX</con:value>
    </con:property>
    <con:property>
      <con:name>value4</con:name>
      <con:value>${=java.util.UUID.randomUUID()}</con:value>
    </con:property>
    <con:property>
      <con:name>item4</con:name>
      <con:value>LogRef</con:value>
    </con:property>
    <con:property>
      <con:name>value3</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>item3</con:name>
      <con:value>SelfService</con:value>
    </con:property>
    <con:property>
      <con:name>value2</con:name>
      <con:value>23862826</con:value>
    </con:property>
    <con:property>
      <con:name>item2</con:name>
      <con:value>AgreementId</con:value>
    </con:property>
    <con:property>
      <con:name>value1</con:name>
      <con:value>BES</con:value>
    </con:property>
    <con:property>
      <con:name>item1</con:name>
      <con:value>PaymentChannel</con:value>
    </con:property>
    <con:property>
      <con:name>debitAgentBic</con:name>
      <con:value>asdfsa</con:value>
    </con:property>
    <con:property>
      <con:name>debitAcntccy</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccount</con:name>
      <con:value>FI2031512000004264</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>2386282-6</con:value>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value>35803100</con:value>
    </con:property>
    <con:property>
      <con:name>credentials</con:name>
      <con:value>03110012010400425tdQSjWYVcoG36klZPsLHw5LT7ztioudZ03eS0IgWm1WWIO7EfpSL4DE/lDFi69n1sSaabKNt2t+xJppso23a37EmmmyjbdrfNv5bgigJbh8O7wfYR8vyc7EmmmyjbdrfsSaabKNt2t/XzlyjxYnxhcG46wcbIKp/sSaabKNt2t9wBUG0SyIoqFfig80Gq4uXVBtimDzTiu2xJppso23a37Emmmyjbdrf8wP73CNrvpw=K2QkXB/7QNWrqFXOIqO5a16AetYmaX2YB0d97ncUQcrd2/G/etenGKPMQrU/rpuGTJakx/v4reemOOLCjjoA/N89BtC3daDMycpc589NHfGt9TLtcQwjLVvxx06kI8POrpT5qKMWcB/XUJK9z+s5vYxm9eEzRL0CVa5cLAl2OM4=</con:value>
    </con:property>
    <con:property>
      <con:name>userid</con:name>
      <con:value>2386282-6</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>CIB</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
