<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="908cf8b3-794c-4170-9733-361788f3bf67" name="Reservation_failure" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="26fe1a91-5dc2-48af-a934-764ebca5adbdfileName">BM_Payment_V2_0</con:setting>
    <con:setting id="5db64abf-b05c-45e8-9ae2-07859263589bfileName">Reservation_success_new</con:setting>
    <con:setting id="03cff79d-30d9-4a03-b228-cc1b2fdacda6fileName">Reservation_failure</con:setting>
    <con:setting id="908cf8b3-794c-4170-9733-361788f3bf67fileName">Reservation_failure</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>DataSourcePath</con:name>
      <con:value>C:\Server\Automation\pm-regression-valuechain\PAINT_LowVolumeReservationBatch\PAINT_DATA.xlsx</con:value>
    </con:property>
    <con:property>
      <con:name>Update_Date</con:name>
      <con:value>${= java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern("dd-MMM-yy")).toString()}</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
