<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d0b30ca4-4611-4c3b-803d-e1eb73fa7e5e" name="RegressionTests_Inward_Payments" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d0b30ca4-4611-4c3b-803d-e1eb73fa7e5efileName">RegressionTests_Inward_Payments</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
