<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0823ec44-9b13-4ac2-bbde-c2c7d8b56e90" name="BM_Payment_V2_0" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This test suite has BM User ISPC's related test cases with WSDLs version 2_0.

Please refer ReadMe step.</con:description>
  <con:settings>
    <con:setting id="92fa573c-1dec-4185-b69f-dae1f4a73a95fileName">Wsdl_v2_All_ISPC</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="f196bec5-74e5-433f-b0ba-59c2b9ac95c6fileName">wsdl_v2_All_ISPC</con:setting>
    <con:setting id="0823ec44-9b13-4ac2-bbde-c2c7d8b56e90fileName">BM_Payment_V2_0</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\Users\EI11510\OneDrive - EVRY\Desktop\REP</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>DataSourcePath</con:name>
      <con:value>C:\Ullasa\Projects\JenkinsRegression\V12_SignleSuiteRun\pr-regression-valuechain\PaymentCreateAllISPCSmokeTest\data\DataSource.xlsx</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
testSuite.setPropertyValue("DataSourcePath", "${projPath}${File.separator}data${File.separator}DataSource.xlsx")
log.info "DataSourcePath path is -->${projPath}${File.separator}data${File.separator}DataSource.xlsx"</con:setupScript>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="0dc5b557-c01a-409a-8032-9893427fc50d">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
