<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1fa6fff1-842a-4e85-868e-a86ca2a845df" name="Receipt Order_PM_V2_0" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This suite verifies that PM user able to order Receipts(Sticker/Print) whie creating a Domestic payment.
And PM user able to reorder receipt when status is in RFDD/LAFU/STOP/COMP status.
Verifies that PRINT can be ordered only once for a COMP payments and STICKERS can be ordered multiple times,
Verifies that Stickers cannot be removed for the COMP payments.
Validates Operational Array and Receipt tag in all Read and Search services.</con:description>
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\Users\Ei11721\Downloads\results</con:setting>
    <con:setting id="1fa6fff1-842a-4e85-868e-a86ca2a845dffileName">Receipt-Order_PM_V2_0</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>ConnectionString</con:name>
      <con:value>jdbc:oracle:thin:pendata/pen@//10.246.89.97:1530/pen_g_functional</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>01010002474</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>2474</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>2474</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42120941377</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode</con:name>
      <con:value>NOK</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
