<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="40645d0e-bcfe-43f9-9621-5af60e7ef28d" name="TransferSettlementTestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This suite runs the TransferSettlement batch and validates the data sent to CPS which is logged in mqPayload.log file.</con:description>
  <con:settings>
    <con:setting id="40645d0e-bcfe-43f9-9621-5af60e7ef28dfileName">TransferSettlementTestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>TestSuiteResult</con:name>
      <con:value>OK</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>//def objProject = context.getTestSuite().getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")

testSuite.setPropertyValue("TestSuiteResult", "OK")</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
