<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="137da715-6dcf-445f-aab6-e16e7cc6968e" name="filePayment" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="137da715-6dcf-445f-aab6-e16e7cc6968efileName">filePayment</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"
try{System.sleep(12000)}catch(Exception e){}</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
