<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cbcc9766-2d4f-4615-83a5-f8b0638f6a35" name="Smoketest_Inward_Payments" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="cbcc9766-2d4f-4615-83a5-f8b0638f6a35fileName">Smoketest_Inward_Payments</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="1719ae2f-131a-4863-848d-f3a466cbfbdb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
