<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="6326086d-af27-4fca-917a-a16036fc1558" created="3.2.7" activeEnvironment="G-S1" name="VIP" updated="3.6.0" encryptionMode="Not encrypted" resourceRoot="${projectDir}" compositeProjectFormat="1.3" defaultScriptLanguage="Groovy" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6326086d-af27-4fca-917a-a16036fc1558fileName">VIP</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>DB</con:name>
      <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
      <con:connectionString xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
      <con:password/>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>import com.eviware.soapui.impl.wsdl.teststeps.JdbcRequestTestStep
def now = new Date()
def time =  java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMddHHmmssSSS'))
def date1 = java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMdd')).toString()

def objProject = testRunner.getTestCase().getTestSuite().getProject()
def projPath = objProject.getPath()

filePath =projPath + File.separator + "results"
new File(filePath).mkdir()
filePathDate =filePath + File.separator +date1 + File.separator
new File(filePathDate).mkdir()
def suiteName = testRunner.testCase.testSuite.name.replaceAll("[^a-zA-Z0-9]+","");
filePathSuite = filePath + File.separator +date1 + File.separator + suiteName + File.separator 
new File(filePathSuite).mkdir()

 fos = new FileOutputStream(filePathSuite + testRunner.testCase.name + "_"+ testStepResult.testStep.label + time + '.txt', true)
 pw = new PrintWriter(fos)
 def CurrentStep = testRunner.testCase.getTestStepAt(context.getCurrentStepIndex()).getLabel()
def testStep =  testRunner.testCase.getTestStepByName(CurrentStep)
if ( testStep instanceof JdbcRequestTestStep )
{
	def lineSeperator =  "\n ****************************************************************************\n " 
	def res = 	 testStep.testRequest.response.getRequestContent() + lineSeperator +  testStep.testRequest.response.responseContent	
	pw.write(res)
}
else{
	testStepResult.writeTo(pw)
}
 pw.close()
 fos.close()</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="ProjectRunListener.beforeRun" name="ProjectRunListener.beforeRun">
    <con:script>ProjectEnvironments.load(projectRunner,context,log)</con:script>
  </con:eventHandlers>
  <con:environment id="dc1658a0-526f-436f-80bb-f71d78f0d95e" name="G-D2" index="0">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.106:22411/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.106:22411/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.106:22411/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.106:22411/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.106:22411/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d2)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="493b599e-212c-4c86-aa8b-1188230bbe77" name="G-D4" index="2">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:23621/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:23621/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:23621/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:23621/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:23621/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d4)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="31644988-2531-43f2-8890-9e878bbc53ab" name="G-D5" index="3">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22561/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22561/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22561/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22561/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22561/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@//10.246.89.97:1530/pwh_g_d5</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="989528dd-88e5-4752-b9a4-4c9f00b14ebe" name="G-D6" index="4">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:22641/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:22641/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:22641/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:22641/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:22641/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP) (HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d6)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="2e5b6943-2068-48a8-8c5c-46d5a5410d91" name="G-S1" index="10">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:10810/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:10810/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:10810/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:10810/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:10810/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_s1)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="80035489-0faa-47d6-b746-004d461ccbcf" name="G-D13" index="6">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29231/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29231/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29231/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29231/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29231/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@//10.246.89.97:1530/pwh_g_d13</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d4a49f26-a81a-427d-acbb-b4f765de46dc" name="G-D14" index="7">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29241/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29241/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29241/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29241/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29241/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@//10.246.89.97:1530/pwh_g_d14</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="bdf15d7f-e3dd-4bed-b69b-ec4680658ab6" name="G-D15" index="8">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29251/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29251/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29251/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29251/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29251/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@//10.246.89.97:1530/pwh_g_d15</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="22ae3166-bf43-48c4-a470-fb51fae3e931" name="G-D16" index="9">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29101/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29101/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29101/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29101/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29101/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@//10.246.89.97:1530/pwh_g_d16</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="1827df1d-c7e0-488a-b0f7-809b6faff329" name="G-D3" index="1">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22521/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22521/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22521/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22521/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.107:22521/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@//10.246.89.97:1530/pwh_g_d3</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="edafa955-4929-4c15-b47a-9499ef09c566" name="R-N1" index="11">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:11190/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:11190/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:11190/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:11190/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:11190/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:connectionString xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="af64923c-faec-47af-bdca-04d2d89c40d8" name="G-D7" index="5">
    <con:service type="SOAP" name="PINSPaymentSearch_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:24901/pin/services/PINSPaymentSearch_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:24901/pin/services/PINSStandingOrder_V1_5Service?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:24901/pin/services/PAYSPaymentAuthorization_V1_2?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:24901/pin/services/PINSPayment_V1_9?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:24901/pin/services/PINSPaymentStatusUpdate_V1_5?wsdl</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>DB</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d7)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="dc1658a0-526f-436f-80bb-f71d78f0d95e">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="493b599e-212c-4c86-aa8b-1188230bbe77">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="31644988-2531-43f2-8890-9e878bbc53ab">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="989528dd-88e5-4752-b9a4-4c9f00b14ebe">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="2e5b6943-2068-48a8-8c5c-46d5a5410d91">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="80035489-0faa-47d6-b746-004d461ccbcf">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="d4a49f26-a81a-427d-acbb-b4f765de46dc">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="bdf15d7f-e3dd-4bed-b69b-ec4680658ab6">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="22ae3166-bf43-48c4-a470-fb51fae3e931">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="1827df1d-c7e0-488a-b0f7-809b6faff329">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="edafa955-4929-4c15-b47a-9499ef09c566">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="af64923c-faec-47af-bdca-04d2d89c40d8">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags>
    <con:tag>
      <con:id>f2df2dfb-bcad-40a5-8dae-cc4711f7c0bd</con:id>
      <con:name>SMOKETEST</con:name>
    </con:tag>
    <con:tag>
      <con:id>3a3799f5-7519-4a76-b217-ce4b6c5e6aa7</con:id>
      <con:name>REGRESSION</con:name>
    </con:tag>
    <con:tag>
      <con:id>035ae6af-9d67-4fe2-9ffa-46389e90c2b9</con:id>
      <con:name>COMPLETE</con:name>
    </con:tag>
  </con:tags>
</con:soapui-project>
