<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2fa74119-141d-4639-867f-47c55540dbe0" name="disabled_suite" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2fa74119-141d-4639-867f-47c55540dbe0fileName">disabled_suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
