<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="PRM-764-1-Payment Template Read" id="54a72f5b-5da2-47d0-85fa-b829ccd8f4bb" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Test suite for Read  template

Test data : https://fswiki.evry.com/pages/viewpage.action?pageId=179027855#WorkPackage:PaymentTemplates(PIN1CAVAGaps)-Testdata
HLR : https://fswiki.evry.com/pages/viewpage.action?spaceKey=projects&amp;title=Payment+Templates
UCR  : https://fswiki.evry.com/pages/viewpage.action?spaceKey=projects&amp;title=Payment+Templates+UCR
User stories : https://fswiki.evry.com/display/projects/Payment+Template+-+User+Stories</con:description>
  <con:settings>
    <con:setting id="ba33693f-ff13-48cd-9a3a-8b3e0fb6f269fileName">PRM-764-1-Payment-Template-Read</con:setting>
    <con:setting id="56f848fd-3e39-4d7b-9761-19b92f9048f4fileName">PRM-764-1-Payment-Template-Read_new</con:setting>
    <con:setting id="52daec11-7d7c-4c3f-bc50-2be5284c792cfileName">PRM-683-1---Payment-Template-Search</con:setting>
    <con:setting id="cdea41ad-795b-4f7f-86c4-111d5ccd4d75fileName">PRM-682-2-Predefined-creditor-Update</con:setting>
    <con:setting id="51ba360f-f1c2-4e87-8a98-abe26811665efileName">PRM-682-2-Predefined-creditor-Update</con:setting>
    <con:setting id="54a72f5b-5da2-47d0-85fa-b829ccd8f4bbfileName">PRM-764-1-Payment-Template-Read</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>agreementId2</con:name>
      <con:value>8113001743</con:value>
    </con:property>
    <con:property>
      <con:name>customerid2</con:name>
      <con:value>8113001743</con:value>
    </con:property>
    <con:property>
      <con:name>userid2</con:name>
      <con:value>8113001743</con:value>
    </con:property>
    <con:property>
      <con:name>debitAcntccy2</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccount2</con:name>
      <con:value>FI5431512000013158</con:value>
    </con:property>
    <con:property>
      <con:name>customeridUnauthorised</con:name>
      <con:value>2386282-7</con:value>
    </con:property>
    <con:property>
      <con:name>useridUnauthorised</con:name>
      <con:value>2386282-7</con:value>
    </con:property>
    <con:property>
      <con:name>intIntermediary3</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed3NationalId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermediary2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed2NationalId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed1NationalId</con:name>
      <con:value>1234</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency6</con:name>
      <con:value>GBP</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency5</con:name>
      <con:value>CNY</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency4</con:name>
      <con:value>JPY</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency3</con:name>
      <con:value>USD</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency2</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency1</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>intIntermediary1</con:name>
      <con:value>BOFAUS6SXXX</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCreditAccountCcy</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intCreditAccountCcy</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>debtCountry</con:name>
      <con:value>FI</con:value>
    </con:property>
    <con:property>
      <con:name>intCreditAccount</con:name>
      <con:value>1233443554656</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBic</con:name>
      <con:value>CITIUS33XXX</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry</con:name>
      <con:value>US</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCredAgentCountry</con:name>
      <con:value>DE</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCreditAccount</con:name>
      <con:value>DE89370400440532013000</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCredAgentBic</con:name>
      <con:value>DAAEDEDDXXX</con:value>
    </con:property>
    <con:property>
      <con:name>value4</con:name>
      <con:value>${=java.util.UUID.randomUUID()}</con:value>
    </con:property>
    <con:property>
      <con:name>item4</con:name>
      <con:value>LogRef</con:value>
    </con:property>
    <con:property>
      <con:name>value3</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>item3</con:name>
      <con:value>SelfService</con:value>
    </con:property>
    <con:property>
      <con:name>value2</con:name>
      <con:value>23862826</con:value>
    </con:property>
    <con:property>
      <con:name>item2</con:name>
      <con:value>AgreementId</con:value>
    </con:property>
    <con:property>
      <con:name>value1</con:name>
      <con:value>BES</con:value>
    </con:property>
    <con:property>
      <con:name>item1</con:name>
      <con:value>PaymentChannel</con:value>
    </con:property>
    <con:property>
      <con:name>debitAgentBic</con:name>
      <con:value>asdfsa</con:value>
    </con:property>
    <con:property>
      <con:name>debitAcntccy</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccount</con:name>
      <con:value>FI2031512000004264</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>2386282-6</con:value>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value>35803100</con:value>
    </con:property>
    <con:property>
      <con:name>credentials</con:name>
      <con:value>03110012010400425tdQSjWYVcoG36klZPsLHw5LT7ztioudZ03eS0IgWm1WWIO7EfpSL4DE/lDFi69n1sSaabKNt2t+xJppso23a37EmmmyjbdrfNv5bgigJbh8O7wfYR8vyc7EmmmyjbdrfsSaabKNt2t/XzlyjxYnxhcG46wcbIKp/sSaabKNt2t9wBUG0SyIoqFfig80Gq4uXVBtimDzTiu2xJppso23a37Emmmyjbdrf8wP73CNrvpw=K2QkXB/7QNWrqFXOIqO5a16AetYmaX2YB0d97ncUQcrd2/G/etenGKPMQrU/rpuGTJakx/v4reemOOLCjjoA/N89BtC3daDMycpc589NHfGt9TLtcQwjLVvxx06kI8POrpT5qKMWcB/XUJK9z+s5vYxm9eEzRL0CVa5cLAl2OM4=</con:value>
    </con:property>
    <con:property>
      <con:name>userid</con:name>
      <con:value>2386282-6</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>CIB</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
