<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="03a748f9-d123-4a48-8240-186fa3fe5c3e" name="PredefinedCreditor_V1.0" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="03a748f9-d123-4a48-8240-186fa3fe5c3efileName">PredefinedCreditor_V1.0</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
