<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ab5862a1-e388-45fb-9e69-cc0619d78e34" name="Reference" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ab5862a1-e388-45fb-9e69-cc0619d78e34fileName">Reference</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
