<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="137da715-6dcf-445f-aab6-e16e7cc6968e" name="ErrorCodes-FilePayment" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="137da715-6dcf-445f-aab6-e16e7cc6968efileName">ErrorCodes-FilePayment</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:setupScript>//def objProject = context.getTestSuite().getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")
//log.info "TestSuite setUp script!!"
//////try{System.sleep(12000)}catch(Exception e){}</con:setupScript>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="657a20b2-d63b-4bf3-808e-2c92b686c769">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
