<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7b98f5ee-ed8f-4612-b283-cf40b3c06c47" name="Pain001StructrdReminfo" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bd64a791-eea2-411d-b31b-9484896b580efileName">Pain001StructrdReminfo</con:setting>
    <con:setting id="7b98f5ee-ed8f-4612-b283-cf40b3c06c47fileName">Pain001StructrdReminfo</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
