<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="53ae53b1-635a-4cb7-8b7f-7b8b5f733119" name="Outward_Actions" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This suite is for the PIN Actions :

1. STOP AND REACTIVATE
2. FORCE FUNDS
3. REJECT</con:description>
  <con:settings>
    <con:setting id="53ae53b1-635a-4cb7-8b7f-7b8b5f733119fileName">Outward_Actions</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>01016003499</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccount</con:name>
      <con:value>96550145224</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>PaymentClient</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="d52bcff2-9570-413d-90b9-3a5116dcaf60">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="641a9a0c-fb0b-41a0-9745-305968ce5a69">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="87baec75-43ae-4aeb-b470-52e8342d3615">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0a2afcb9-9344-4eee-87c6-fe212d1d0355">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ed72efc2-8741-4344-a59f-85c1225c9ac7">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e89b038f-e9e8-4c8f-aeb0-e521a696e97c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
