<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d6630e59-6b5a-49d2-b6f9-2b1c64fe5c8d" name="NO_ASB_SECANA_CALL" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d6630e59-6b5a-49d2-b6f9-2b1c64fe5c8dfileName">NO_ASB_SECANA_CALL</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"</con:setupScript>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="d3b14a13-5773-4d0d-b897-397c73e12c4d">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3f403fd2-0543-4321-80ae-36cf0f2d43be">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b8bdb647-957e-4111-9208-05da97e2afa8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3317cf4e-19a4-4f65-8d71-365d1cc9adcc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="61a31d62-c6b5-4844-96f4-32208d034287">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f3539605-f8ba-4d7b-9e40-3f25f7d2b211">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c57aea96-d15f-46e4-bfa2-4b8ef33c6b0e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
