<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="64cdf68a-3672-40da-bd99-e6504c74b3fe" name="ASB_CHALLENGE" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="64cdf68a-3672-40da-bd99-e6504c74b3fefileName">ASB_CHALLENGE</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="7db1644e-2473-4463-959a-051b4ca66469">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
