<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d71b259b-a467-462d-89cd-cd9f684ddfd8" name="CAVA" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d71b259b-a467-462d-89cd-cd9f684ddfd8fileName">CAVA</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>MessageID</con:name>
      <con:value>1448</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentID</con:name>
      <con:value>11328</con:value>
    </con:property>
    <con:property>
      <con:name>TxnId</con:name>
      <con:value>11388</con:value>
    </con:property>
    <con:property>
      <con:name>debitReservationId</con:name>
      <con:value>12123</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>PaymentClient</con:value>
    </con:property>
    <con:property>
      <con:name>userid</con:name>
      <con:value>e232105</con:value>
    </con:property>
    <con:property>
      <con:name>value2</con:name>
      <con:value>e232105</con:value>
    </con:property>
    <con:property>
      <con:name>credentials</con:name>
      <con:value>03110012010400425tdQSjWYVcoG36klZPsLHw5LT7ztioudZ03eS0IgWm1WWIO7EfpSL4DE/lDFi69n1sSaabKNt2t+xJppso23a37EmmmyjbdrfNv5bgigJbh8O7wfYR8vyc7EmmmyjbdrfsSaabKNt2t/XzlyjxYnxhcG46wcbIKp/sSaabKNt2t9wBUG0SyIoqFfig80Gq4uXVBtimDzTiu2xJppso23a37Emmmyjbdrf8wP73CNrvpw=K2QkXB/7QNWrqFXOIqO5a16AetYmaX2YB0d97ncUQcrd2/G/etenGKPMQrU/rpuGTJakx/v4reemOOLCjjoA/N89BtC3daDMycpc589NHfGt9TLtcQwjLVvxx06kI8POrpT5qKMWcB/XUJK9z+s5vYxm9eEzRL0CVa5cLAl2OM4=</con:value>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value>35803100</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>260191-916L</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccount</con:name>
      <con:value>FI1231512000002565</con:value>
    </con:property>
    <con:property>
      <con:name>debitAcntccy</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>debitAgentBic</con:name>
      <con:value>asdfsa</con:value>
    </con:property>
    <con:property>
      <con:name>item1</con:name>
      <con:value>PaymentChannel</con:value>
    </con:property>
    <con:property>
      <con:name>value1</con:name>
      <con:value>ITR</con:value>
    </con:property>
    <con:property>
      <con:name>item2</con:name>
      <con:value>Employee</con:value>
    </con:property>
    <con:property>
      <con:name>item3</con:name>
      <con:value>SelfService</con:value>
    </con:property>
    <con:property>
      <con:name>value3</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>item4</con:name>
      <con:value>LogRef</con:value>
    </con:property>
    <con:property>
      <con:name>value4</con:name>
      <con:value>${=new Date().format("ddMMyy_HHmmss")}-${=context.getCurrentStep().getTestCase().getLabel()}</con:value>
    </con:property>
    <con:property>
      <con:name>ReqExnDate</con:name>
      <con:value>${=new Date().plus(1).format("yyyy-MM-dd")}</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBic</con:name>
      <con:value>CITIUS33XXX</con:value>
    </con:property>
    <con:property>
      <con:name>intCreditAccount</con:name>
      <con:value>1233443554656</con:value>
    </con:property>
    <con:property>
      <con:name>ReqExnDateTmrw</con:name>
      <con:value>${=new Date().format("yyyy-MM-dd")}</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry</con:name>
      <con:value>US</con:value>
    </con:property>
    <con:property>
      <con:name>verifyUser1</con:name>
      <con:value>e212927</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentIDHist</con:name>
      <con:value>1231</con:value>
    </con:property>
    <con:property>
      <con:name>agreementid</con:name>
      <con:value>1234</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="1719ae2f-131a-4863-848d-f3a466cbfbdb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
