<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3203e7e1-7bcd-498d-ada4-b2c940cb125c" name="Fraud Revalidation OnlinePayments" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6c4706cd-52d1-41ae-aa2f-197b204ff9d3fileName">Fraud-Revalidation-OnlinePayments</con:setting>
    <con:setting id="3203e7e1-7bcd-498d-ada4-b2c940cb125cfileName">Fraud-Revalidation-OnlinePayments</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>fraudMessage</con:name>
      <con:value>FraudM</con:value>
    </con:property>
    <con:property>
      <con:name>fraudAccountNumber</con:name>
      <con:value>42010224130</con:value>
    </con:property>
    <con:property>
      <con:name>fraudAddress</con:name>
      <con:value>10.10.10.10</con:value>
    </con:property>
    <con:property>
      <con:name>fraudCustomer</con:name>
      <con:value>32338717708</con:value>
    </con:property>
    <con:property>
      <con:name>fraudName</con:name>
      <con:value>Albrekt</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>01014305072</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42001871913</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumberKundner</con:name>
      <con:value>42010305386</con:value>
    </con:property>
    <con:property>
      <con:name>currencyKundner</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>channelKundner</con:name>
      <con:value>BES</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>//def objProject = context.getTestSuite().getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")
//log.info "TestSuite setUp script!!"</con:setupScript>
  <con:reportParameters/>
</con:testSuite>