<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b45393c9-3209-422a-8d61-2fd621600dd0" name="SOBalanceBMBelowISPC" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8446402b-2e4e-41f0-9373-e2aba5339b79fileName">Standing-Order-Balance-Below_BM</con:setting>
    <con:setting id="b45393c9-3209-422a-8d61-2fd621600dd0fileName">SOBalanceBMBelowISPC</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>01067201317</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>201317</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>201317</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42122061501</con:value>
    </con:property>
    <con:property>
      <con:name>CreditAccountNumber</con:name>
      <con:value>42122805977</con:value>
    </con:property>
    <con:property>
      <con:name>customerid_EUR</con:name>
      <con:value>04075121534</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_EUR</con:name>
      <con:value>121534</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_EUR</con:name>
      <con:value>121534</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_EUR</con:name>
      <con:value>42010275967</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode_EUR</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>CreditAccountNumber_EUR</con:name>
      <con:value>42010302476</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYCPS</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>//def objProject = context.getTestSuite().getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")
//log.info "TestSuite setUp script!!"</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
