<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="58d969d6-ef00-4213-b12c-72167b4ca808" created="2.8.2" activeEnvironment="G-S1" name="SO New Core Accounts" resourceRoot="" updated="3.3.2" encryptionMode="Not encrypted" defaultScriptLanguage="Groovy" scriptLibrary="C:\Soap ui\SO-V5-readyapi-project\scripts" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="58d969d6-ef00-4213-b12c-72167b4ca808fileName">SO-V5</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>G-S1</con:name>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>PWH</con:name>
      <con:driver xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
      <con:connectionString xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
      <con:password/>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="c191a7fd-757c-4b80-b8ca-c3d3fd82f721" name="G-S1" index="1">
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSStandingOrder_V1_5Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_2ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword=""/>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PAYSPaymentAuthorization_V1_2</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSAccountService_V1_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.109:20601/fundscheck/services/FNDSAccountService_V1_0</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.24</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWH</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:PWHDATA/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_s1_19c)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="73c7f7e3-196d-4ab2-805e-76631fb2b83c" name="G-D2" index="0">
    <con:service type="SOAP" name="PINSStandingOrder_V1_5ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization"/>
    </con:service>
    <con:service type="SOAP" name="PINSStandingOrder_V1_2ServicePortTypeSoap11">
      <con:endpoint authProfile="No Authorization"/>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization"/>
    </con:service>
    <con:service type="SOAP" name="FNDSAccountService_V1_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.109:20601/fundscheck/services/FNDSAccountService_V1_0</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWH</con:name>
        <con:connectionString>jdbc:oracle:thin:PWHDATA/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_s1_19c)))</con:connectionString>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="73c7f7e3-196d-4ab2-805e-76631fb2b83c">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
