<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="32b0eddc-ce52-454b-9d42-86ffa7e80d35" name="ReadMe" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="32b0eddc-ce52-454b-9d42-86ffa7e80d35fileName">ReadMe</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
