<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="032ecccc-65a9-43eb-96c0-7faa488414fb" name="SOPeriodicINT" xmlns:con="http://eviware.com/soapui/config">
  <con:description>verify the  SO periodic agreement for channel TLF and INT with have customerID with alphabet at end Point of it and LOGONID,NEXT_PROCESSING_DATE and NEXT_PAYMENT_DATE   column in table STO_Agreement

Test data :  Need to create  customerID which has alphabet at end point just for testing puprose in RBS table and then copy same data to test environments

procedure:  if  test data is not available in particular environment then we need to run following query one by one in respected test environment DB.
                     BEGIN
    dbms_snapshot.refresh('v_aut_au1');
    dbms_snapshot.refresh('v_aut_au3');
    dbms_snapshot.refresh('v_aut_au6');
    dbms_snapshot.refresh('v_aut_au9');
    dbms_snapshot.refresh('v_aut_au20');
    dbms_snapshot.refresh('v_aut_au23');
END;

Ex: BEGIN
dbms_snapshot.refresh('v_aut_au23');
END;</con:description>
  <con:settings>
    <con:setting id="95423c66-f467-4082-966e-63c497933d3efileName">Standing-Order-Periodic_PM</con:setting>
    <con:setting id="babc4bce-3177-45ae-afb7-2c3a79908c30fileName">Standing-Order-Periodic_TLF</con:setting>
    <con:setting id="032ecccc-65a9-43eb-96c0-7faa488414fbfileName">SOPeriodicINT</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>22026903509</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>22026903509</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42020130894</con:value>
    </con:property>
    <con:property>
      <con:name>CreditAccountNumber</con:name>
      <con:value>DE89370400440532013000</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYINT</con:value>
    </con:property>
    <con:property>
      <con:name>orgId</con:name>
      <con:value>4201</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="dd815c52-5459-48fb-8082-7934a148a22b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
