<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a1199871-b778-4737-b0cf-478bab519ba7" name="Payment Create CPS Event Log" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8110270d-2849-490b-b1bd-1825ed657321fileName">CPS-Event-Log</con:setting>
    <con:setting id="a1199871-b778-4737-b0cf-478bab519ba7fileName">Payment-Create-CPS-Event-Log</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>32334114456</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>32334114456</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>32334114456</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>40689510703</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>waitInMiliSeconds</con:name>
      <con:value>5000</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>CPS</con:value>
    </con:property>
    <con:property>
      <con:name>credentials</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>channel</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"
//try{System.sleep(12000)}catch(Exception ex){}</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
