<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f99ba86c-3446-4521-bcbe-3247e9d32f02" name="Payment Create List" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f99ba86c-3446-4521-bcbe-3247e9d32f02fileName">Payment-Create-List</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>