<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d5f1b84f-4d58-49f8-aa11-6da25e154a5e" name="notify_subs" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d5f1b84f-4d58-49f8-aa11-6da25e154a5efileName">notify_subs</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2c7c9c19-78ea-4d79-a47c-65f6bd5e0af1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
