<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9db91dc9-ec91-4c3f-8448-85826a88367c" name="Receipt Order PM" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9db91dc9-ec91-4c3f-8448-85826a88367cfileName">Receipt-Order-PM</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Single Page (Print)</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder"/>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>DataSourcePath</con:name>
      <con:value>C:\server\automation\pin-legacy-soapui\Payment Renewal Releases\ReceiptOrderSmokeTest\DataSource_ReceiptOrder.xlsx</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
