<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7a2206ae-f144-4972-a0ef-c1876cb1acbe" wadlVersion="http://wadl.dev.java.net/2009/02" name="ASB_SECANA" type="rest" definitionUrl="https://eos-asb-srv-s1.global.finods.com/asbservices/api/v1?_wadl" basePath="/asbservices/api/v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7a2206ae-f144-4972-a0ef-c1876cb1acbefileName">ASB_SECANA</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="https://eos-asb-srv-s1.global.finods.com/asbservices/api/v1?_wadl">
    <con:part>
      <con:url>https://eos-asb-srv-s1.global.finods.com/asbservices/api/v1?_wadl</con:url>
      <con:content><![CDATA[<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <grammars/>
  <resources base="http://eos-asb-srv-s1.global.finods.com/asbservices/api/v1">
    <resource path="/fraud">
      <resource path="/payment">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="/payment/{transaction-id}">
        <param name="transaction-id" style="template" type="xs:string"/>
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/1.0">
      <resource path="/configuration">
        <method name="GET">
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="/status">
        <method name="GET">
          <request>
            <param name="type" style="query" default="shallow" type="xs:string"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>]]></con:content>
      <con:type>http://wadl.dev.java.net/2009/02</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://eos-asb-srv-s1.global.finods.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="c57aea96-d15f-46e4-bfa2-4b8ef33c6b0e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="22adbf41-a442-4274-b728-3c41ae7ef741">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f6c107c2-9839-447e-80f7-3a3e9a74317c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
