<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="14be7696-57b4-4c45-aeec-9f146ab93ead" name="FND" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="14be7696-57b4-4c45-aeec-9f146ab93eadfileName">FND</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
