<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e356d917-93e9-4ee1-9ed8-707ee05b1cd8" name="SOPeriodicDOMISPC" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="e356d917-93e9-4ee1-9ed8-707ee05b1cd8fileName">SOPeriodicDOMISPC</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid_GBP</con:name>
      <con:value>12017804934</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_GBP</con:name>
      <con:value>804934</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_GBP</con:name>
      <con:value>804934</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_GBP</con:name>
      <con:value>42010101209</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode_GBP</con:name>
      <con:value>GBP</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>32334114456</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>114456</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>114456</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>40689510703</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>customerid_EUR</con:name>
      <con:value>32331473498</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_EUR</con:name>
      <con:value>473498</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_EUR</con:name>
      <con:value>473498</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_EUR</con:name>
      <con:value>42009512262</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode_EUR</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>customerid_INHOUSE</con:name>
      <con:value>07078512916</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_INHOUSE</con:name>
      <con:value>512916</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_INHOUSE</con:name>
      <con:value>512916</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_INHOUSE</con:name>
      <con:value>42020171329</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYCPS</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
