<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b6f1ab17-5d29-44cc-9cb8-89599c1c0dbe" name="PIN_PAYMENT_STATUS_READ" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="77f5c9e7-0fda-492f-8dd1-f763873a6961fileName">OpenAPI</con:setting>
    <con:setting id="b6f1ab17-5d29-44cc-9cb8-89599c1c0dbefileName">PIN_PAYMENT_STATUS_READ</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="2f3b664f-e38d-4d41-8bd4-c2a81548437f">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b2f6872f-554c-465f-a22b-7cecf4556840">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="9d51eee9-1b5f-4e6c-8e3a-97ebaee97054">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="62392bde-3bec-475a-8c2f-519d350793dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="14c75db4-d0e3-4594-bf64-d63ab0f199d8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
