<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="afc145a4-1aff-4442-9c12-05993c4c1fa2" name="Fisk_Reservation_Attempts" xmlns:con="http://eviware.com/soapui/config">
  <con:description>4701 BIC  SNOWNO22XXX
4201 BIC SPTRNO22XXX</con:description>
  <con:settings>
    <con:setting id="afc145a4-1aff-4442-9c12-05993c4c1fa2fileName">Fisk_Reservation_Attempts</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>idList</con:name>
      <con:value>[1, 2, 3]</con:value>
    </con:property>
    <con:property>
      <con:name>transactionsIdsBM</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">2490,2491</con:value>
    </con:property>
    <con:property>
      <con:name>bankId</con:name>
      <con:value>4201</con:value>
    </con:property>
    <con:property>
      <con:name>codewordFisk</con:name>
      <con:value>SRPT</con:value>
    </con:property>
    <con:property>
      <con:name>bankBic</con:name>
      <con:value>SPTRNO22XXX</con:value>
    </con:property>
    <con:property>
      <con:name>creditorAccount</con:name>
      <con:value>46510132211</con:value>
    </con:property>
    <con:property>
      <con:name>AccountID</con:name>
      <con:value>96530186110</con:value>
    </con:property>
    <con:property>
      <con:name>customerID</con:name>
      <con:value>01097101619</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"

testSuite.setPropertyValue('transactionsIdsBM', '')</con:setupScript>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="0555037f-f4fb-4e93-ab2c-eb4b50d7d704">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="415b8404-c1f2-43a4-a761-29c767fc7b22">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="15bc0171-07d7-440e-b08e-dd951afab8be">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="aec41ae1-9dcf-401f-b7e3-a65b6f4ffdad">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="45007c9a-adad-4b85-bf0c-0c29278543f9">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ac7a7eed-4708-481b-9ab7-6be7c3aab34e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f12cdac8-ed78-441c-b93a-315f75390e50">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="324d3316-6824-43fc-bc92-9ac25f095bf3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c359f457-01ec-4cbe-8283-2746209f9042">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="8e4f47ef-0fd8-44c4-86f7-6c3bb1794d4d">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="8f055548-1217-4da5-8caf-f02741e062e2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c53eb540-84b6-4697-8a38-bedd9aabdd6e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
