<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="760c1df4-fc4c-4359-b249-7c2339afc5ea" name="ASB_ACCEPTED" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="760c1df4-fc4c-4359-b249-7c2339afc5eafileName">ASB_ACCEPTED</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"</con:setupScript>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c57aea96-d15f-46e4-bfa2-4b8ef33c6b0e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="22adbf41-a442-4274-b728-3c41ae7ef741">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f6c107c2-9839-447e-80f7-3a3e9a74317c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
