<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="66fd49a2-3ca4-4f2b-ada6-d6d5ff415ff1" name="ForeignAccount" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="66fd49a2-3ca4-4f2b-ada6-d6d5ff415ff1fileName">ForeignAccount</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>DataSourcePath</con:name>
      <con:value>C:\Ullasa\Projects\ForeignAccountPayments\pin-legacy-soapui\Payment Renewal Releases\ForeignAccountPayments\data\ForeignAccountScenarios.xlsx</con:value>
    </con:property>
  </con:properties>
  <con:setupScript/>
  <con:reportParameters/>
</con:testSuite>
