<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c510ffa1-8416-40c2-85f1-ad821ad817ea" name="ForeignAccount" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="66fd49a2-3ca4-4f2b-ada6-d6d5ff415ff1fileName">ForeignAccount</con:setting>
    <con:setting id="c510ffa1-8416-40c2-85f1-ad821ad817eafileName">ForeignAccount</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>DataSourcePath</con:name>
      <con:value>C:\Users\xxchikks\Documents\GitHub\master\pm-regression-valuechain\ForeignAccountPayments\data\ForeignAccountScenarios.xlsx</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject();
def projPath = objProject.getPath()
testSuite.setPropertyValue("DataSourcePath", "${projPath}${File.separator}data${File.separator}ForeignAccountScenarios.xlsx")
log.info "DataSourcePath path is -->${projPath}${File.separator}data${File.separator}ForeignAccountScenarios.xlsx"</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
