<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2391622c-2833-49e7-ac74-f46c14b0260b" name="CrossBorder_Employee" xmlns:con="http://eviware.com/soapui/config">
    <con:settings><con:setting id="2391622c-2833-49e7-ac74-f46c14b0260bfileName">CrossBorder_Employee</con:setting></con:settings>
    <con:savedRecentRuns>1</con:savedRecentRuns>
    <con:runType>SEQUENTIAL</con:runType>
    
    
    
    
    
    
    
    
    <con:properties>
      <con:property>
        <con:name>MessageID</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>PaymentID</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>TxnId</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>debitReservationId</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>SourceApplication</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>userid</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>value2</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>credentials</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>orgid</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>customerid</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>debitAccount</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>debitAcntccy</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>debitAgentBic</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>item1</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>value1</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>item2</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>item3</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>value3</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>item4</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>value4</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>ReqExnDate</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>intCredAgentBic</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>intCreditAccount</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>ReqExnDateTmrw</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>intCredAgentCountry</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>verifyUser1</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>PaymentIDHist</con:name>
        <con:value/>
      </con:property>
      <con:property>
        <con:name>agreementid</con:name>
        <con:value/>
      </con:property>
    </con:properties>
    <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")</con:setupScript><con:reportParameters/>
  </con:testSuite>