<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="89dab199-7ba5-47bf-810b-a6340f44b0e3" name="PredefinedCreditor_V2.1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="89dab199-7ba5-47bf-810b-a6340f44b0e3fileName">PredefinedCreditor_V2.1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
