<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b29130ce-988c-45e3-98c3-9ac923e4cf21" name="Non CrossBorder_BM" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b29130ce-988c-45e3-98c3-9ac923e4cf21fileName">Non-CrossBorder_BM</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>