<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d0ccad17-67ac-4bd5-ad8b-86d316a5bf61" wadlVersion="http://wadl.dev.java.net/2009/02" name="WADL_PIN_V7" type="rest" definitionUrl="http://10.246.89.106:22411/pin/api/v7?_wadl" basePath="/pin/api/v7" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="d0ccad17-67ac-4bd5-ad8b-86d316a5bf61fileName">WADL_PIN_V7</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://10.246.89.106:22411/pin/api/v7?_wadl">
    <con:part>
      <con:url>http://10.246.89.106:22411/pin/api/v7?_wadl</con:url>
      <con:content><![CDATA[<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <grammars/>
  <resources base="http://10.246.89.106:22411/pin/api/v7">
    <resource path="/accounts:validate">
      <method name="POST">
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
    <resource path="/paymentstatuses">
      <method name="GET">
        <request>
          <param name="transactionIds" style="query" repeating="true" type="xs:string"/>
          <param name="endToEndIds" style="query" repeating="true" type="xs:string"/>
          <param name="paymentReferences" style="query" repeating="true" type="xs:string"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
    <resource path="/">
      <resource path="authorizations">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="market-products">
        <method name="GET">
          <request>
            <param name="market-product" style="query" type="xs:string"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="payment-amounts:calculate">
        <method name="GET">
          <request>
            <param name="amount" style="query"/>
            <param name="currency" style="query" type="xs:string"/>
            <param name="currency-of-transfer" style="query" type="xs:string"/>
            <param name="agreed-exchange-rate" style="query"/>
            <param name="debtor-account-currency" style="query" type="xs:string"/>
            <param name="include-regulatory-reporting" style="query" default="false" type="xs:boolean"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="payment-types">
        <method name="GET">
          <request>
            <param name="payment-type" style="query" type="xs:string"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="warnings/-/payments/{payment-id}">
        <param name="payment-id" style="template" type="xs:long"/>
        <method name="GET">
          <request/>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="warnings/{warning-id}">
        <param name="warning-id" style="template" type="xs:long"/>
        <method name="GET">
          <request/>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/historic">
      <resource path="/bulk-payments:search">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="/payments/receipt-order">
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="/payments/{payment-id}">
        <param name="payment-id" style="template" type="xs:long"/>
        <method name="GET">
          <request/>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="/payments/{reference-type}/{reference-id}">
        <param name="reference-type" style="template" type="xs:string"/>
        <param name="reference-id" style="template" type="xs:string"/>
        <method name="GET">
          <request/>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="/payments:search">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/pre-defined-payment-information">
      <method name="GET">
        <request>
          <param name="alias" style="query" type="xs:string"/>
          <param name="type" style="query" type="xs:string"/>
          <param name="creditorAccount" style="query" type="xs:string"/>
          <param name="supplierNumber" style="query" type="xs:string"/>
          <param name="creditorName" style="query" type="xs:string"/>
          <param name="page-token" style="query" type="xs:string"/>
          <param name="page-size" style="query" type="xs:int"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <method name="POST">
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <resource path="/{pre-defined-payment-information-id}">
        <param name="pre-defined-payment-information-id" style="template" type="xs:long"/>
        <method name="DELETE">
          <request/>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method name="GET">
          <request/>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/">
      <resource path="standing-orders">
        <method name="GET">
          <request>
            <param name="page-token" style="query" type="xs:string"/>
            <param name="page-size" style="query" type="xs:int"/>
            <param name="customer-id" style="query" type="xs:string"/>
            <param name="standing-order-type" style="query" type="xs:string">
              <option value="PERIODIC"/>
              <option value="BALANCE"/>
              <option value="EXTERNAL"/>
            </param>
            <param name="recurrence" style="query" type="xs:string">
              <option value="DAILY"/>
              <option value="WEEKLY"/>
              <option value="BIWEEKLY"/>
              <option value="SEMIMONTHLY"/>
              <option value="MONTHLY"/>
              <option value="BIMONTHLY"/>
              <option value="QUARTERLY"/>
              <option value="TRIANNUALLY"/>
              <option value="SEMIYEARLY"/>
              <option value="YEARLY"/>
            </param>
            <param name="standing-order-statuses" style="query" repeating="true" type="xs:string">
              <option value="VALIDATED"/>
              <option value="DRAFT"/>
              <option value="PENDING_APPROVAL"/>
              <option value="ACTIVE"/>
              <option value="REJECTED"/>
              <option value="PENDING_DATE"/>
              <option value="PENDING_CLOSE"/>
              <option value="PENDING_VERIFICATION"/>
              <option value="CLOSED"/>
            </param>
            <param name="debit-account" style="query" repeating="true" type="xs:string"/>
            <param name="agreement-id" style="query" type="xs:long"/>
            <param name="agreement-version" style="query" type="xs:long"/>
            <param name="bank-employee-initiated" style="query" default="false" type="xs:boolean"/>
            <param name="filter-by-org-unit" style="query" default="false" type="xs:boolean"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="standing-orders/{standing-order-id}">
        <param name="standing-order-id" style="template" type="xs:long"/>
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="standing-orders/{standing-order-id}/status">
        <param name="standing-order-id" style="template" type="xs:long"/>
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="standing-orders:verification-search">
        <method name="GET">
          <request>
            <param name="page-token" style="query" type="xs:string"/>
            <param name="page-size" style="query" type="xs:int"/>
            <param name="customer-number" style="query" type="xs:string"/>
            <param name="originator-id" style="query" type="xs:string"/>
            <param name="agreement-id" style="query" type="xs:long"/>
            <param name="agreement-version" style="query" type="xs:long"/>
            <param name="debit-account" style="query" type="xs:string"/>
            <param name="from-date" style="query"/>
            <param name="to-date" style="query"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/">
      <resource path="bulk-payments:search">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="files">
        <method name="GET">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="files:search">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="forecasts:search">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="payments/{reference-type}/{reference-id}">
        <param name="reference-type" style="template" type="xs:string"/>
        <param name="reference-id" style="template" type="xs:string"/>
        <method name="GET">
          <request/>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="payments:search">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/bankinternalcomment">
      <method name="GET">
        <request>
          <param name="paymentReference" style="query" type="xs:string"/>
          <param name="commentType" style="query" type="xs:string"/>
          <param name="verificationTrackId" style="query" type="xs:long"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <method name="POST">
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response>
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
    <resource path="/">
      <resource path="bulk-payments">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="payments">
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="payments/{payment-id}">
        <param name="payment-id" style="template" type="xs:long"/>
        <method name="GET">
          <request/>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
        <method name="POST">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/">
      <resource path="bulk-payments/status:batch-update">
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="bulk-payments/{bulk-payment-id}/status">
        <param name="bulk-payment-id" style="template" type="xs:long"/>
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="files/status:batch-update">
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="files/{file-id}/status">
        <param name="file-id" style="template" type="xs:long"/>
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="payments/status:batch-update">
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
      <resource path="payments/{payment-id}/status">
        <param name="payment-id" style="template" type="xs:long"/>
        <method name="PUT">
          <request>
            <representation mediaType="application/json"/>
          </request>
          <response>
            <representation mediaType="application/json"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>]]></con:content>
      <con:type>http://wadl.dev.java.net/2009/02</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://10.246.89.106:22411</con:endpoint>
  </con:endpoints>
</con:interface>
