<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a76c0d7f-d3af-4e9a-989c-a7687e99f3c3" name="Fraud Revalidation FilePayments" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a76c0d7f-d3af-4e9a-989c-a7687e99f3c3fileName">Fraud-Revalidation-FilePayments</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>fraudMessage</con:name>
      <con:value>Transfer To China</con:value>
    </con:property>
    <con:property>
      <con:name>fraudAccountNumber</con:name>
      <con:value>42010224130</con:value>
    </con:property>
    <con:property>
      <con:name>fraudAddress</con:name>
      <con:value>10.10.10.10</con:value>
    </con:property>
    <con:property>
      <con:name>fraudCustomer</con:name>
      <con:value>32338717708</con:value>
    </con:property>
    <con:property>
      <con:name>fraudName</con:name>
      <con:value>Albrekt</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>16085502224</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>40680124185</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumberKundner</con:name>
      <con:value>42010305386</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
