<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="PRM-681-2-Predefined creditor create_PM" id="abe93e00-cc0e-4503-961c-64e2e8645d14" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Test suite for PDC create ;
More info : https://fswiki.evry.com/pages/viewpage.action?pageId=179027855</con:description>
  <con:settings>
    <con:setting id="62092664-3136-4b80-a5fa-0a189ac1eb8dfileName">PRM-681-2-Predefined-creditor-create</con:setting>
    <con:setting id="e6953f67-0ee7-4e0a-adbb-a966168750aafileName">PRM-681-2-Predefined-creditor-create_new</con:setting>
    <con:setting id="abe93e00-cc0e-4503-961c-64e2e8645d14fileName">PRM-681-2-Predefined-creditor-create_PM</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>intCredAgentBicWithEightDig</con:name>
      <con:value>CITIUS33</con:value>
    </con:property>
    <con:property>
      <con:name>intInterAgentBicWithElevenDig</con:name>
      <con:value>AFSBUS33XXX</con:value>
    </con:property>
    <con:property>
      <con:name>intInterAgentBicWithEightDig</con:name>
      <con:value>AFSBUS33</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>CPS</con:value>
    </con:property>
    <con:property>
      <con:name>userid</con:name>
      <con:value>21016703890</con:value>
    </con:property>
    <con:property>
      <con:name>credentials</con:name>
      <con:value>03111012010400425kglPboRi3h16OVtVL1neI9CfuAtjCBO603eS0IgWm1WWIO7EfpSL4DE%2FlDFi69n1sSaabKNt2t%2BxJppso23a37Emmmyjbdrflpq4f56YEcTwqPbJGRxTVbEmmmyjbdrfsSaabKNt2t%2FXzlyjxYnxhcG46wcbIKp%2FsSaabKNt2t9wBUG0SyIoqFfig80Gq4uXVBtimDzTiu3EfQIWD5xMfpd8V90wfJqE%2FrpIdBWOZCg%3DWlPV5eZ4diuCWN8n8MioYhhi5y3ry7ocUG557FkHElWUtZW5y2o9bV4kNOBI2eIvhnMNNl4KZzZiP60aZOtzU6qC7h54%2FjtOS9LP2XwPBSwC3jUA00HIe25%2FFBsLnNciYlYLbkWKiTZCji3sjsSuUS8K0sIEsS3qoAJRWadlGrE%3D</con:value>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value>4201</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>21016703890</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccount</con:name>
      <con:value>42020540537</con:value>
    </con:property>
    <con:property>
      <con:name>debitAcntccy</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>debitAgentBic</con:name>
      <con:value>SPTRNO22XXX</con:value>
    </con:property>
    <con:property>
      <con:name>item1</con:name>
      <con:value>PaymentChannel</con:value>
    </con:property>
    <con:property>
      <con:name>value1</con:name>
      <con:value>BAX</con:value>
    </con:property>
    <con:property>
      <con:name>item2</con:name>
      <con:value>AgreementId12</con:value>
    </con:property>
    <con:property>
      <con:name>value2</con:name>
      <con:value>21016703890</con:value>
    </con:property>
    <con:property>
      <con:name>item3</con:name>
      <con:value>SelfService</con:value>
    </con:property>
    <con:property>
      <con:name>value3</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>item4</con:name>
      <con:value>LogRef</con:value>
    </con:property>
    <con:property>
      <con:name>value4</con:name>
      <con:value>${=java.util.UUID.randomUUID()}</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCredAgentBic</con:name>
      <con:value>DAAEDEDDXXX</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCreditAccount</con:name>
      <con:value>DE89370400440532013000</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCredAgentCountry</con:name>
      <con:value>DE</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry</con:name>
      <con:value>US</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBic</con:name>
      <con:value>CITIUS33XXX</con:value>
    </con:property>
    <con:property>
      <con:name>intCreditAccount</con:name>
      <con:value>1233443554656</con:value>
    </con:property>
    <con:property>
      <con:name>debtCountry</con:name>
      <con:value>NO</con:value>
    </con:property>
    <con:property>
      <con:name>intCreditAccountCcy</con:name>
      <con:value>USD</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCreditAccountCcy</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermediary1</con:name>
      <con:value>BOFAUS6SXXX</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency1</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency2</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency3</con:name>
      <con:value>USD</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency4</con:name>
      <con:value>JPY</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency5</con:name>
      <con:value>CNY</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency6</con:name>
      <con:value>GBP</con:value>
    </con:property>
    <con:property>
      <con:name>intIntermed1NationalId</con:name>
      <con:value>1234</con:value>
    </con:property>
    <con:property>
      <con:name>intIntermed2NationalId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermediary2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed3NationalId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermediary3</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>IBANAccount</con:name>
      <con:value>GB29NWBK60161331926819</con:value>
    </con:property>
    <con:property>
      <con:name>nationalIdWithNoPrefix</con:name>
      <con:value>403519</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry1</con:name>
      <con:value>GB</con:value>
    </con:property>
    <con:property>
      <con:name>nationalIdwithPrefix</con:name>
      <con:value>SC403519</con:value>
    </con:property>
    <con:property>
      <con:name>intCreditAccountCcy1</con:name>
      <con:value>SEK</con:value>
    </con:property>
    <con:property>
      <con:name>BBANCreditAcc</con:name>
      <con:value>58398257466</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBic1</con:name>
      <con:value>ESSESESSXXX</con:value>
    </con:property>
    <con:property>
      <con:name>ibanCredAgentBic2</con:name>
      <con:value>NWBKGB2LXXX</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionString</con:name>
      <con:value>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.246.89.97)(PORT=1530))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d10)))</con:value>
    </con:property>
    <con:property>
      <con:name>credDom</con:name>
      <con:value>42121948790</con:value>
    </con:property>
    <con:property>
      <con:name>IBANAccount1</con:name>
      <con:value>SE4550000000058398257466</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry2</con:name>
      <con:value>SE</con:value>
    </con:property>
    <con:property>
      <con:name>bicNotInPBD</con:name>
      <con:value>USBKOO44BOI</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry3</con:name>
      <con:value>KW</con:value>
    </con:property>
    <con:property>
      <con:name>invalidCountryCode</con:name>
      <con:value>YU</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBic3</con:name>
      <con:value>CBSWCHZZXXX</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry4</con:name>
      <con:value>CH</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry5</con:name>
      <con:value>FR</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBic4</con:name>
      <con:value>BDFEFRPPXXX</con:value>
    </con:property>
    <con:property>
      <con:name>ibanCredAgentBic5</con:name>
      <con:value>FIFBFOTXXXX</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry6</con:name>
      <con:value>FO</con:value>
    </con:property>
    <con:property>
      <con:name>ibanCredAgentBic6</con:name>
      <con:value>DAAESPDDXXX</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
