<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5a0de31b-6698-4f3c-94eb-f4a484ea3b49" name="SOBalancePMAbove" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="5a0de31b-6698-4f3c-94eb-f4a484ea3b49fileName">SOBalancePMAbove</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Single Page (Print)</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\Users\EI11421\OneDrive - EVRY\Standing Order\SO Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>10018906320</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>10018906320</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42230126970</con:value>
    </con:property>
    <con:property>
      <con:name>CreditAccountNumber</con:name>
      <con:value>SE4550000000058398257466</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYINT</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>//def objProject = context.getTestSuite().getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
