<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="eeb9eb35-0176-4b4d-9030-c8442dc5b0dd" name="Non CrossBorder_File Payment" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="eeb9eb35-0176-4b4d-9030-c8442dc5b0ddfileName">Non-CrossBorder_File-Payment</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")</con:setupScript><con:reportParameters/></con:testSuite>