<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="95960ff2-6dde-4e80-80af-fcbbbd52835c" name="Payment Status Update CPS Event Log" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8110270d-2849-490b-b1bd-1825ed657321fileName">CPS-Event-Log</con:setting>
    <con:setting id="95960ff2-6dde-4e80-80af-fcbbbd52835cfileName">Payment-Status-Update-CPS-Event-Log</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>32331684812</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>684812</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>684812</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>40689504029</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>waitInMiliSeconds</con:name>
      <con:value>20000</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>CPS</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
