<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9d7e4794-063f-4f03-b9a7-68e7b0db4791" name="PaymentUtilV2_1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9d7e4794-063f-4f03-b9a7-68e7b0db4791fileName">PaymentUtilV2_1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
