<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="69a1a8d1-7121-46be-950c-ef4fc7ef3681" name="Historic_PaymentSearches" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="69a1a8d1-7121-46be-950c-ef4fc7ef3681fileName">Historic_PaymentSearches</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:setupScript/>
  <con:reportParameters/>
</con:testSuite>