<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="bc57d56f-da92-4370-90e9-01185c3bccce" created="3.0.0" activeEnvironment="G-D4" name="PINValueChainSuite" resourceRoot="" updated="3.6.0" encryptionMode="Not encrypted" scriptLibrary="C:\Ullasa\Projects\JenkinsRegression\V9_Master\V5\pr-regression-valuechain\PINValueChainSuite\scripts" compositeProjectFormat="1.3" defaultScriptLanguage="Groovy" disableCarriageReturnEscaping="false" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This Project runs POR jobs for BM and PM payments</con:description>
  <con:settings>
    <con:setting id="bc57d56f-da92-4370-90e9-01185c3bcccefileName">ErrorCodes</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>sendQueuePAIN001</con:name>
    </con:property>
    <con:property>
      <con:name>receiveQueuePAIN001</con:name>
    </con:property>
    <con:property>
      <con:name>sendQueueCamt055</con:name>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt055</con:name>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt029</con:name>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
    </con:property>
    <con:property>
      <con:name>G_D4</con:name>
    </con:property>
    <con:property>
      <con:name>G_D2</con:name>
    </con:property>
    <con:property>
      <con:name>G_D7</con:name>
    </con:property>
    <con:property>
      <con:name>G_S1</con:name>
    </con:property>
    <con:property>
      <con:name>G_D6</con:name>
    </con:property>
    <con:property>
      <con:name>R_S6</con:name>
    </con:property>
    <con:property>
      <con:name>R_A1</con:name>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>Database</con:name>
      <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
      <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pendata/pen@10.246.89.97:1530/pen_g_functional</con:connectionString>
      <con:password/>
      <con:connectionProperties/>
    </con:databaseConnection>
    <con:databaseConnection>
      <con:name>RBS_Forfall</con:name>
      <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
      <con:connectionString>jdbc:oracle:thin:forfall/forfall@10.246.89.97:1530/rbst5_taf</con:connectionString>
      <con:password>sdfd</con:password>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:beforeRunScript>//def objProject = context.getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")
//log.info "Project setUp script!!"</con:beforeRunScript>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script disabled="true">import com.eviware.soapui.impl.wsdl.submit.transports.http.BaseHttpRequestTransport 
String request = (String) context.getProperty( BaseHttpRequestTransport.REQUEST_CONTENT )
request = request.replaceAll('&lt;wsc:item key=""/>','')
//// Create groovyUtils and XmlHolder for the request of the Sample Request test step.
def groovyUtils = new com.eviware.soapui.support.GroovyUtils( context )
def holder = groovyUtils.getXmlHolder(request )

if(!request.contains('PCASReservationCreate')){
		for( item in holder.getDomNodes( "//*[normalize-space(.) = '' and count(*) = 0]" )){
		//    log.info "itemName-->${item.nodeName}"
		     if( item.nodeName != "wsc:item")
		            item.removeXobj()
		}
		for( item in holder.getDomNodes( "//*[normalize-space(.) = '' and count(*) = 0]" )){
		//    log.info "itemName-->${item.nodeName}"
		     if( item.nodeName != "wsc:item")
		            item.removeXobj()
		}
		holder.updateProperty()
		context.requestContent = holder.xml
}else
{
	log.info "--->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>"
}</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>import com.eviware.soapui.impl.wsdl.teststeps.JdbcRequestTestStep
def now = new Date()
def time =  java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMddHHmmssSSS'))
def date1 = java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMdd')) 

def objProject = testRunner.getTestCase().getTestSuite().getProject()
def projPath = objProject.getPath()

filePath =projPath + File.separator + "results"
new File(filePath).mkdir()
filePathDate =filePath + File.separator +date1 + File.separator
new File(filePathDate).mkdir()
def suiteName = testRunner.testCase.testSuite.name.replaceAll("[^a-zA-Z0-9]+","");
filePathSuite = filePath + File.separator +date1 + File.separator + suiteName + File.separator 
filePathCaseName = filePathSuite + testRunner.testCase.name + File.separator
new File(filePathSuite).mkdir()
new File(filePathCaseName).mkdir()
 fos = new FileOutputStream(filePathCaseName + testRunner.testCase.name + "_"+ testStepResult.testStep.label + time + '.txt', true)
 pw = new PrintWriter(fos)
 def CurrentStep = testRunner.testCase.getTestStepAt(context.getCurrentStepIndex()).getLabel()
def testStep =  testRunner.testCase.getTestStepByName(CurrentStep)

if ( testStep instanceof JdbcRequestTestStep )
{
	def lineSeperator =  "\n ****************************************************************************\n " 
	def res = 	 testStep.testRequest.response.getRequestContent() + lineSeperator +  testStep.testRequest.response.responseContent	
	pw.write(res)
}
else{
	log.info testStepResult
	testStepResult.writeTo(pw)
}
 pw.close()
 fos.close()</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="ProjectRunListener.beforeRun" name="ProjectRunListener.beforeRun">
    <con:script>ProjectEnvironments.load(projectRunner,context,log)</con:script>
  </con:eventHandlers>
  <con:environment id="457af21e-28cc-497d-a733-634d703ad724" name="G-D7" index="0">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D7}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D7}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D7}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>sendQueuePAIN001</con:name>
      <con:value>PIN.D7.CPS.PAIN001</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueuePAIN001</con:name>
      <con:value>CPS.D7.PIN.PAIN002</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueCamt055</con:name>
      <con:value>CAMT055.D7.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt055</con:name>
      <con:value>PAIN002.CAMT055.D7.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt029</con:name>
      <con:value>CAMT029.D7.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0GNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.117</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1415</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>G_D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D7</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>G_S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pendata/pen@10.246.89.97:1530/pen_g_sprint</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>RBS_Forfall</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:forfall/forfall@10.246.89.97:1530/rbst5_taf</con:connectionString>
        <con:password>sdfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="1dd17478-eebd-4cc9-8fe9-51bcacdd9117" name="G-D4" index="1">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D4}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D4}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D4}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PBDSSKKORegisterNumberInfo_V1_1PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.245:10780/pbdsrv/services/PBDSSKKORegisterNumberInfo_V1_1</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>sendQueuePAIN001</con:name>
      <con:value>PAIN001.PRFUNC.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueuePAIN001</con:name>
      <con:value>PAIN002.PRFUNC.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueCamt055</con:name>
      <con:value>CAMT055.D4.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt055</con:name>
      <con:value>PAIN002.CAMT055.D4.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt029</con:name>
      <con:value>CAMT029.D4.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0GNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.117</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1415</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>G_D4</con:name>
      <con:value>10.246.89.107:23621</con:value>
    </con:property>
    <con:property>
      <con:name>G_D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value>10.246.89.12</con:value>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value>10.246.89.12:5122</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d4)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>RBS_Forfall</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:forfall/forfall@10.246.89.97:1530/rbst5_taf</con:connectionString>
        <con:password>sdfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="207e0d23-b8b3-41fe-9049-29f86ad35691" name="G-D2" index="2">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D2}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D2}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D2}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>sendQueuePAIN001</con:name>
      <con:value>PAIN001.SPRINT.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueuePAIN001</con:name>
      <con:value>PAIN002.SPRINT.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueCamt055</con:name>
      <con:value>CAMT055.D2.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt055</con:name>
      <con:value>PAIN002.CAMT055.D2.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt029</con:name>
      <con:value>CAMT029.D2.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0GNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.117</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1415</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>G_D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D2</con:name>
      <con:value>ald-eos-g-app02.man.cosng.net:22411</con:value>
    </con:property>
    <con:property>
      <con:name>G_D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@//10.246.89.97:1530/pwh_g_functional</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>RBS_Forfall</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:forfall/forfall@10.246.89.97:1530/rbst5_taf</con:connectionString>
        <con:password>sdfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="338be24d-f04f-491c-bb23-cd09d5c0ce96" name="G-S1" index="3">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_S1}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_S1}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_S1}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PBDSSKKORegisterNumberInfo_V1_1PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>sendQueuePAIN001</con:name>
      <con:value>PAIN001.PRSYS.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueuePAIN001</con:name>
      <con:value>PAIN002.PRSYS.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueCamt055</con:name>
      <con:value>CAMT055.S1.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt055</con:name>
      <con:value>PAIN002.CAMT055.S1.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt029</con:name>
      <con:value>CAMT029.S1.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.24</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e212927</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e212927</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0GNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.117</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1415</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>G_D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>R_S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value>10.246.89.12</con:value>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value>10.246.89.12:5122</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_s1)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>RBS_Forfall</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:forfall/forfall@10.246.89.97:1530/rbst5_taf</con:connectionString>
        <con:password>sdfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="e0d20ad7-6949-444f-ac2a-850b97be6171" name="G-D6" index="4">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D6}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D6}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G_D6}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>sendQueuePAIN001</con:name>
      <con:value>PAIN001.D6.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueuePAIN001</con:name>
      <con:value>PAIN002.D6.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueCamt055</con:name>
      <con:value>CAMT055.D6.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt055</con:name>
      <con:value>PAIN002.CAMT055.D6.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt029</con:name>
      <con:value>CAMT029.D6.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0GNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.117</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1415</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>G_D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D6</con:name>
      <con:value>ald-eos-g-app04.man.cosng.net:22641</con:value>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@10.246.89.97:1530/pwh_g_d6</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>RBS_Forfall</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:forfall/forfall@10.246.89.97:1530/rbst5_taf</con:connectionString>
        <con:password>sdfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="14cf7474-b8ba-48af-8725-073035fea814" name="R-S6" index="5">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R_S6}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R_S6}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R_S6}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>sendQueuePAIN001</con:name>
      <con:value>PIN.S6.CPS.PAIN001</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueuePAIN001</con:name>
      <con:value>CPS.S6.PIN.PAIN002</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueCamt055</con:name>
      <con:value>PIN.S6.CPS.CAMT055</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt055</con:name>
      <con:value>CPS.S6.PIN.PAIN002CAMT055</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt029</con:name>
      <con:value>CPS.S6.PIN.CAMT029</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0GNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.117</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1415</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>G_D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_S6</con:name>
      <con:value>alt-eos-r-app03.man.cosng.net:21731</con:value>
    </con:property>
    <con:property>
      <con:name>R_A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa851-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_r_s6)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>RBS_Forfall</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:cloudscape:sdf?user=dfdssd&amp;password=PASS_VALUE</con:connectionString>
        <con:password>sdfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="47ce4c1b-708b-4e30-8e04-79919f1ecbe1" name="R-A1" index="6">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R_A1}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R_A1}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R_A1}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:property>
      <con:name>sendQueuePAIN001</con:name>
      <con:value>PAIN001.A1.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueuePAIN001</con:name>
      <con:value>PAIN002.A1.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueCamt055</con:name>
      <con:value>CAMT055.A1.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt055</con:name>
      <con:value>PAIN002.CAMT055.A1.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueueCamt029</con:name>
      <con:value>CAMT029.A1.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0GNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.117</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1415</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>G_D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G_S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R_A1</con:name>
      <con:value>139.114.216.245:11460</con:value>
    </con:property>
    <con:property>
      <con:name>G_D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa851-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_r_a1)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
      <con:databaseConnection>
        <con:name>RBS_Forfall</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:cloudscape:sdf?user=dfdssd&amp;password=PASS_VALUE</con:connectionString>
        <con:password>sdfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="1dd17478-eebd-4cc9-8fe9-51bcacdd9117">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="207e0d23-b8b3-41fe-9049-29f86ad35691">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="338be24d-f04f-491c-bb23-cd09d5c0ce96">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="e0d20ad7-6949-444f-ac2a-850b97be6171">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="657a20b2-d63b-4bf3-808e-2c92b686c769">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
