<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8353f424-230a-448a-92fc-470162c3e52f" name="STRAKS_2.1_Bank_Setup" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c3cc6a90-ae93-498f-af44-80bd0d17805ffileName">Straks2.1_Bank_Setup</con:setting>
    <con:setting id="8353f424-230a-448a-92fc-470162c3e52ffileName">STRAKS_2.1_Bank_Setup</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="91fc5bbb-38af-4ede-9346-db374adc1e5a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
