<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="b77f41a7-9f37-4d84-9838-a4efdf92b9ed" created="3.0.0" activeEnvironment="G-S1" name="Regulatory Reporting" resourceRoot="" scriptLibrary="C:\Ullasa\Projects\JenkinsRegression\V8_TestBranch\V3\pr-regression-valuechain\Regulatory-Reporting\scripts" updated="3.4.5" encryptionMode="Not encrypted" defaultScriptLanguage="Groovy" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bc57d56f-da92-4370-90e9-01185c3bcccefileName">ErrorCodes</con:setting>
    <con:setting id="b77f41a7-9f37-4d84-9838-a4efdf92b9edfileName">Regulatory-Reporting</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>G-D2</con:name>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
    </con:property>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
    </con:property>
    <con:property>
      <con:name>sendQueue</con:name>
      <con:value>Restricted</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueue</con:name>
      <con:value>Restricted</con:value>
    </con:property>
    <con:property>
      <con:name>dbstring</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>Database</con:name>
      <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
      <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pendata/pen@10.246.89.97:1530/pen_g_functional</con:connectionString>
      <con:password/>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:beforeRunScript>//import groovy.time.*
//
//def timeStart = new Date()
//def objProject = context.getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")
//def timeStop = new Date()
//TimeDuration duration = TimeCategory.minus(timeStop, timeStart)
//log.info  duration</con:beforeRunScript>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>import com.eviware.soapui.impl.wsdl.teststeps.JdbcRequestTestStep
def time =  java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMddHHmmssSSS'))
def date1 = java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMdd')).toString()

def objProject = testRunner.getTestCase().getTestSuite().getProject()
def projPath = objProject.getPath()

filePath =projPath + File.separator + "results"
new File(filePath).mkdir()
filePathDate =filePath + File.separator +date1 + File.separator
new File(filePathDate).mkdir()
def suiteName = testRunner.testCase.testSuite.name.replaceAll("[^a-zA-Z0-9]+","");
filePathSuite = filePath + File.separator +date1 + File.separator + suiteName + File.separator 
new File(filePathSuite).mkdir()

 fos = new FileOutputStream(filePathSuite + testRunner.testCase.name + "_"+ testStepResult.testStep.label + time + '.txt', true)
 pw = new PrintWriter(fos)
 def CurrentStep = testRunner.testCase.getTestStepAt(context.getCurrentStepIndex()).getLabel()
def testStep =  testRunner.testCase.getTestStepByName(CurrentStep)
log.info "Before-->"
if ( testStep instanceof JdbcRequestTestStep )
{
	def lineSeperator =  "\n ****************************************************************************\n " 
	def res = 	 testStep.testRequest.response.getRequestContent() + lineSeperator +  testStep.testRequest.response.responseContent	
	pw.write(res)
}
else{
	log.info CurrentStep
	testStepResult.writeTo(pw)
}
 pw.close()
 fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="00082741-2052-466c-8c04-2f38f9d9dee9" name="R-A1" index="6">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentStatusUpdate_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V1_6</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value>10.246.89.108:22641</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>dbstring</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>sun.jdbc.odbc.JdbcOdbcDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa851-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_r_a1)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="4faa5f42-ddaf-4284-ba35-7609eedb4d19" name="G-D7" index="0">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPaymentStatusUpdate_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPayment_V1_6</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueue</con:name>
      <con:value>PIN.D7.CPS.PAIN001ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueue</con:name>
      <con:value>CPS.D7.PIN.PAIN002ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>dbstring</con:name>
      <con:value>jdbc:oracle:thin:pendata/pen@10.246.89.97:1530/pen_g_sprint</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pendata/pen@10.246.89.97:1530/pen_g_sprint</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="25a259ea-1229-4939-b2df-e6a82163e066" name="G-S1" index="3">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentStatusUpdate_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V1_6</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueue</con:name>
      <con:value>PAIN001.PRSYS.CPS.PIN.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueue</con:name>
      <con:value>PAIN002.PRSYS.PIN.CPS.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>dbstring</con:name>
      <con:value>jdbc:oracle:thin:PWHDATA/pwh@//10.246.89.97:1530/pwh_g_st</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:PWHDATA/pwh@//10.246.89.97:1530/pwh_g_st</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="68c5f51b-45c4-4c05-b400-33945a4e3aae" name="G-D4" index="1">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentStatusUpdate_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V1_6</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value>10.246.89.107:23621</con:value>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueue</con:name>
      <con:value>PAIN001.PRFUNC.CPS.PIN.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueue</con:name>
      <con:value>PAIN002.PRFUNC.PIN.CPS.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>dbstring</con:name>
      <con:value>jdbc:oracle:thin:pendata/pen@10.246.89.97:1530/pen_g_functional</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pwhdata/pwh@dlt-exa853-scan.unix.cosng.net:1530/pwh_g_d4</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="f336e265-0e4a-4d50-a208-d9f634444e29" name="G-D2" index="2">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentStatusUpdate_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V1_6</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value>10.150.187.106:22411</con:value>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueue</con:name>
      <con:value>PAIN001.SPRINT.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueue</con:name>
      <con:value>PAIN002.SPRINT.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>dbstring</con:name>
      <con:value>jdbc:oracle:thin:pwhdata/pwh@dlt-exa853-scan.unix.cosng.net:1530/pwh_g_d2</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pwhdata/pwh@dlt-exa853-scan.unix.cosng.net:1530/pwh_g_d2</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="9ba1828e-1b6c-41ae-8d1a-afeb2d9a2a65" name="G-D6" index="4">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentStatusUpdate_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V1_6</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value>10.150.187.108:22641</con:value>
    </con:property>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueue</con:name>
      <con:value>PAIN001.D6.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueue</con:name>
      <con:value>PAIN002.D6.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>dbstring</con:name>
      <con:value>jdbc:oracle:thin:pwhdata/pwh@dlt-exa853-scan.unix.cosng.net:1530/pwh_g_d6</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pwhdata/pwh@dlt-exa853-scan.unix.cosng.net:1530/pwh_g_d6</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="94b0620d-cf5f-4dce-a684-3bde5430e36e" name="R-S6" index="5">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentStatusUpdate_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V1_6</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>sendQueue</con:name>
      <con:value>Restricted</con:value>
    </con:property>
    <con:property>
      <con:name>receiveQueue</con:name>
      <con:value>Restricted</con:value>
    </con:property>
    <con:property>
      <con:name>dbstring</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Database</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa851-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_r_s6)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags>
    <con:tag>
      <con:id>23394e9c-ad23-488f-97e3-144dffca4f8e</con:id>
      <con:name>SMOKETEST</con:name>
    </con:tag>
  </con:tags>
</con:soapui-project>
