<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="12826eff-aeca-45c6-bade-a664c31195e0" name="PORJobExecution" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="12826eff-aeca-45c6-bade-a664c31195e0fileName">PORJobExecution</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
