<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d90b07b1-3928-4171-846b-b7ea85cc1ef3" name="PRM_4498" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Here is the utility test case which helps to push message to MQ from SOAPUI,
Prerequisite : Add below jars from : WebSphere MQ\java\lib => your soapui : ReadyAPI-2.7.0\bin\ext (restart needed).
CL3Export.jar
CL3Nonexport.jar
com.ibm.mq.headers.jar
com.ibm.mq.jar
com.ibm.mq.jmqi.jar
com.ibm.mq.pcf.jar
com.ibm.mqjms.jar
dhbcore.jar
fscontext.jar
jms.jar
jndi.jar
ldap.jar
providerutil.jar
rmm.jar

Change all properties as per your MQ manager and MQ in properties.
Add input file content in : "messagetoSend" property.
Make sure project level : 'Script library' path can reach : MQMessageUtils.groovy.</con:description>
  <con:settings>
    <con:setting id="d90b07b1-3928-4171-846b-b7ea85cc1ef3fileName">PRM_4498</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>OrgID</con:name>
      <con:value>4201</con:value>
    </con:property>
    <con:property>
      <con:name>Credentials</con:name>
      <con:value>03110012010400425kglPboRi3h1Z4YUjUpQ0UB65Ta2kPKj1KWwkWemtrL+SoWqMxx/KuqxUVbNyTu6DsSaabKNt2t+xJppso23a37EmmmyjbdrffJeRiGWfHDGwxCWOpDYc2jgSxAz1+8eEsSaabKNt2t/XzlyjxYnxhcG46wcbIKp/sSaabKNt2t9wBUG0SyIoqFfig80Gq4uXVBtimDzTiu2xJppso23a37Emmmyjbdrf8wP73CNrvpw=apG4tU0NraPbbqKUp39erKDFa7xy6z+r4VDMr/6qBlkFniGaNeDXv4cZcZZQQI6JtwB3JYQk6WqLA7oyp1FWRM6n46ehgNmHVNly8fTnQbIuGJSF2LUyGI7aE92/dgtp8jv9bsGpNe58K+xb4LeIHwjb2nVVvt4/2oLtDQ8IPJE=</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"</con:setupScript>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e983977b-6db9-4534-b416-046c04866a86">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="85e91773-7722-4064-a7f2-d19db2e35029">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="869ef329-2976-4efe-9ebf-56bab12c5359">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0e606d70-a277-41c3-a6a5-a2e5187bae16">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b70ceda1-ac52-4572-acd7-8bdfb17564e4">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="d2369ecb-5435-492f-98cf-31bc012cd9d7">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="a313c10b-6892-4bcc-a8cc-428f4fcd2d90">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
