<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="568a13cd-e05e-472a-9a3f-46e0072a433b" name="PORJobExecution" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="568a13cd-e05e-472a-9a3f-46e0072a433bfileName">PORJobExecution</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
