<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7177b330-f019-4234-92f1-e06ee7afe287" name="Reservation_success" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="26fe1a91-5dc2-48af-a934-764ebca5adbdfileName">BM_Payment_V2_0</con:setting>
    <con:setting id="5db64abf-b05c-45e8-9ae2-07859263589bfileName">Reservation_success</con:setting>
    <con:setting id="7177b330-f019-4234-92f1-e06ee7afe287fileName">Reservation_success</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>Update_Date</con:name>
      <con:value>${= java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern("dd-MMM-yy")).toString()}</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
