<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5e8ec315-3e0f-4905-bfbc-63232869570c" name="SOBalanceBMAbove" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="5e8ec315-3e0f-4905-bfbc-63232869570cfileName">SOBalanceBMAbove</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Single Page (Print)</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\Users\EI11421\OneDrive - EVRY\Standing Order\SO Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>01016600195</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>01016600195</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>01016600195</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42021669037</con:value>
    </con:property>
    <con:property>
      <con:name>CreditAccountNumber</con:name>
      <con:value>SE4550000000058398257466</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYCPS</con:value>
    </con:property>
    <con:property>
      <con:name>NegativeBalanceCustomer</con:name>
      <con:value>123,01038604062,01017405310</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>//def objProject = context.getTestSuite().getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
