<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d8b40143-c6fe-4dd9-a461-5a803097e479" name="PRM-827" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d8b40143-c6fe-4dd9-a461-5a803097e479fileName">PRM-827</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c1551f37-cf5e-425b-9879-d2a8847ccfdc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="066dd508-a234-4f07-98fc-d4b1179d1645">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bef17303-847e-45f9-8339-7aeffb1b4aef">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
