<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="76a82bd8-2785-40f1-9a62-64ce03b9ea0b" name="CONFIG_PBD_TPS_ENGINE" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="76a82bd8-2785-40f1-9a62-64ce03b9ea0bfileName">CONFIG_PBD_TPS_ENGINE</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6bb31554-704f-4532-81b9-f25714e7a700">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
