<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="36106d4e-f11e-42f2-94a0-36b3463d9aca" wsaVersion="NONE" name="PCASReservationCreate_V1_1ServiceSoapBinding" type="wsdl" bindingName="{http://reservations.ws.pca.finance.edb.com}PCASReservationCreate_V1_1ServiceSoapBinding" soapVersion="1_1" anonymous="optional" definition="http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5be3fba8-e5dd-4c85-9db4-b69ff66d2021fileName">PCASReservationCreate_V1_1ServiceSoapBinding</con:setting>
    <con:setting id="9f8294b9-a9d1-4070-a424-5c3d8bddad54fileName">PCASReservationCreate_V1_1ServiceSoapBinding</con:setting>
    <con:setting id="36106d4e-f11e-42f2-94a0-36b3463d9acafileName">PCASReservationCreate_V1_1ServiceSoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service?wsdl">
    <con:part>
      <con:url>http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="PCASReservationCreate_V1_1Service" targetNamespace="http://reservations.ws.pca.finance.edb.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://reservations.ws.pca.finance.edb.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://edb.com/ws/WSCommon_v21">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://reservations.ws.pca.finance.edb.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://edb.com/ws/WSCommon_v21"/>
      <xs:element name="PCASReservationCreate_V1_1InputArgs" type="tns:PCASReservationCreate_V1_1Request"/>
      <xs:element name="PCASReservationCreate_V1_1OutputArgs" type="tns:PCASReservationCreate_V1_1Response"/>
      <xs:complexType name="PCASReservationCreate_V1_1Request">
        <xs:sequence>
          <xs:element name="ReservationCreateQualification_V1_1" type="tns:ReservationCreateQualification_V1_1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReservationCreateQualification_V1_1">
        <xs:sequence>
          <xs:element name="AccountNo" type="xs:string"/>
          <xs:element minOccurs="0" name="CounterAccountNo" nillable="true" type="xs:string"/>
          <xs:element name="Amount" type="xs:decimal"/>
          <xs:element minOccurs="0" name="AmountCurrency" nillable="true" type="xs:string"/>
          <xs:element name="AuthRef" type="xs:long"/>
          <xs:element minOccurs="0" name="TextCode" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="FinInst" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DtExpiry" nillable="true" type="xs:date"/>
          <xs:element minOccurs="0" name="Force" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="0" name="CheckDuplicate" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="0" name="DoCounterAcctRes" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PCASReservationCreate_V1_1Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReservationCreateResult_V1_1" type="tns:ReservationCreateResult_V1_1"/>
          <xs:element name="ResponseState" type="ns1:ResponseStateType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReservationCreateResult_V1_1">
        <xs:sequence>
          <xs:element name="AvailableBalance" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://edb.com/ws/WSCommon_v21" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://edb.com/ws/WSCommon_v21">
      <xs:element name="AutHeader" type="tns:EDBHeaderType"/>
      <xs:complexType name="EDBHeaderType">
        <xs:sequence>
          <xs:element name="SourceApplication" type="xs:string"/>
          <xs:element name="DestinationApplication" type="xs:string"/>
          <xs:element name="Function" type="xs:string"/>
          <xs:element name="Version" type="xs:string"/>
          <xs:element name="ClientContext" type="tns:ClientContextType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ClientContextType">
        <xs:sequence>
          <xs:element name="userid" type="xs:string"/>
          <xs:element name="credentials" type="xs:string"/>
          <xs:element name="channel" type="xs:string"/>
          <xs:element name="orgid" type="xs:string"/>
          <xs:element minOccurs="0" name="orgunit" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="locale" nillable="true" type="xs:string"/>
          <xs:element name="ip" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:itemType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="itemType">
        <xs:sequence/>
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
      </xs:complexType>
      <xs:complexType name="ResponseStateType">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:int"/>
          <xs:element name="Severity" type="xs:int"/>
          <xs:element name="ComponentId" type="xs:int"/>
          <xs:element minOccurs="0" name="StrErrorCode" nillable="true" type="xs:string"/>
          <xs:element name="Message" type="xs:string"/>
          <xs:element minOccurs="0" name="NativeError" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="LogSequence" nillable="true" type="xs:long"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="errorItem" nillable="true" type="tns:errorItemType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="errorItemType">
        <xs:sequence/>
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="pCASReservationCreate_V1_1">
    <wsdl:part element="tns:PCASReservationCreate_V1_1InputArgs" name="PCASReservationCreate_V1_1RequestIn"></wsdl:part>
    <wsdl:part element="ns1:AutHeader" name="SoapHeader"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="pCASReservationCreate_V1_1Response">
    <wsdl:part element="tns:PCASReservationCreate_V1_1OutputArgs" name="PCASReservationCreate_V1_1ResponseOut"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PCASReservationCreate_V1_1Port">
    <wsdl:operation name="pCASReservationCreate_V1_1">
      <wsdl:input message="tns:pCASReservationCreate_V1_1" name="pCASReservationCreate_V1_1"></wsdl:input>
      <wsdl:output message="tns:pCASReservationCreate_V1_1Response" name="pCASReservationCreate_V1_1Response"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PCASReservationCreate_V1_1ServiceSoapBinding" type="tns:PCASReservationCreate_V1_1Port">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pCASReservationCreate_V1_1">
      <soap:operation soapAction="pCASReservationCreate_V1_1" style="document"/>
      <wsdl:input name="pCASReservationCreate_V1_1">
        <soap:header message="tns:pCASReservationCreate_V1_1" part="SoapHeader" use="literal"></soap:header>
        <soap:body parts="PCASReservationCreate_V1_1RequestIn" use="literal"/>
      </wsdl:input>
      <wsdl:output name="pCASReservationCreate_V1_1Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PCASReservationCreate_V1_1Service">
    <wsdl:port binding="tns:PCASReservationCreate_V1_1ServiceSoapBinding" name="PCASReservationCreate_V1_1Service">
      <soap:address location="http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
  </con:endpoints>
</con:interface>
