<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1e077ae1-0cbc-4835-a916-b08f519b62c1" name="SOPeriodicINTISPC" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="1e077ae1-0cbc-4835-a916-b08f519b62c1fileName">SOPeriodicINTISPC</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>32334114456</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>114456</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>114456</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>40689510703</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>customerid_USD</con:name>
      <con:value>30105720579</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_USD</con:name>
      <con:value>720579</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_USD</con:name>
      <con:value>720579</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_USD</con:name>
      <con:value>42010100989</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode_USD</con:name>
      <con:value>USD</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYCPS</con:value>
    </con:property>
  </con:properties>
  <con:setupScript/>
  <con:reportParameters/>
</con:testSuite>
