<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="c9e4e13d-2d8c-4b1c-9e73-0cc13e95cef5" created="3.2.7" activeEnvironment="G-S1" name="PaymentCreate_BM_PM" updated="3.3.2" encryptionMode="Not encrypted" resourceRoot="${projectDir}" compositeProjectFormat="1.3" scriptLibrary="C:\Ullasa\Projects\JenkinsRegression\V5_FraudRevalidation\V5_ReceiptOrder\pr-regression-valuechain\PaymentCreate_BM_PM\scripts" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c9e4e13d-2d8c-4b1c-9e73-0cc13e95cef5fileName">PaymentCreate_BM_PM</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>G-D4</con:name>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>PWHDATA</con:name>
      <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
      <con:connectionString>jdbc:oracle:thin:dfgsd/PASS_VALUE@127.0.0.1:1521:dfgd</con:connectionString>
      <con:password>dgfd</con:password>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:beforeRunScript>//Set scriptLibrary path - project level
def objProject = context.getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"
try{System.sleep(15000)}catch(Exception e){}</con:beforeRunScript>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>import com.eviware.soapui.impl.wsdl.teststeps.JdbcRequestTestStep
def time =  CommonLibrary.getDate('yyyyMMddHHmmssSSS')
def date1 = CommonLibrary.getDate('yyyyMMdd')

def objProject = testRunner.getTestCase().getTestSuite().getProject()
def projPath = objProject.getPath()

filePath =projPath + File.separator + "results"
new File(filePath).mkdir()
filePathDate =filePath + File.separator +date1 + File.separator
new File(filePathDate).mkdir()
def suiteName = testRunner.testCase.testSuite.name.replaceAll("[^a-zA-Z0-9]+","");
filePathSuite = filePath + File.separator +date1 + File.separator + suiteName + File.separator 
new File(filePathSuite).mkdir()

 fos = new FileOutputStream(filePathSuite + testRunner.testCase.name + "_"+ testStepResult.testStep.label + time + '.txt', true)
 pw = new PrintWriter(fos)
 def CurrentStep = testRunner.testCase.getTestStepAt(context.getCurrentStepIndex()).getLabel()
def testStep =  testRunner.testCase.getTestStepByName(CurrentStep)
log.info "Before-->"
if ( testStep instanceof JdbcRequestTestStep )
{
	def lineSeperator =  "\n ****************************************************************************\n " 
	def res = 	 testStep.testRequest.response.getRequestContent() + lineSeperator +  testStep.testRequest.response.responseContent	
	pw.write(res)
}
else{
	log.info CurrentStep
	testStepResult.writeTo(pw)
}
 pw.close()
 fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="b932fe71-d995-46e4-b3d3-a68be0aa10db" name="G-D4" index="1">
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V1_9</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_10PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V1_10</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_8PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V1_8Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V1_6Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPayment_V1_4PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PAYSPayment_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V1_5Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_0ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:13610/fts/services/PCASReservationCreate_V1_0Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value>10.246.89.107:23621</con:value>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pendata/pen@//10.246.89.97:1530/pen_g_functional</con:connectionString>
        <con:password>dgfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="4efa0d5a-6e21-4153-ad82-cb126899cb00" name="G-D2" index="0">
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V1_9</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_10PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V1_10</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_8PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V1_8Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V1_6Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPayment_V1_4PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PAYSPayment_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V1_5Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_0ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:13610/fts/services/PCASReservationCreate_V1_0Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:dfgsd/PASS_VALUE@127.0.0.1:1521:dfgd</con:connectionString>
        <con:password>dgfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="5d79d5a7-91a1-4c2b-b0f8-0d05609f1d17" name="G-S1" index="2">
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V1_9</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_10PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V1_10</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_8PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V1_8Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V1_6Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPayment_V1_4PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PAYSPayment_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V1_5Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_0ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:13610/fts/services/PCASReservationCreate_V1_0Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.245:10810</con:value>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:PWHDATA/pwh@//10.246.89.97:1530/pwh_g_st</con:connectionString>
        <con:password>dgfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="1210f649-d535-4251-9341-f90db188ab86" name="G-D6" index="3">
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V1_9</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_10PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V1_10</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_8PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V1_8Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V1_6Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPayment_V1_4PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PAYSPayment_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V1_5Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_0ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:13610/fts/services/PCASReservationCreate_V1_0Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value>10.246.89.108:22641</con:value>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@10.246.89.97:1530/pwh_g_d6</con:connectionString>
        <con:password>dgfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="baf0b73d-d5e4-4f35-99c2-f4c880adbeaa" name="R-S6" index="4">
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http:/${#Project#R-S6}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http:/${#Project#R-S6}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V1_9</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_10PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V1_10</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_8PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V1_8Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V1_6Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPayment_V1_4PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PAYSPayment_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V1_5Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_0ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:13610/fts/services/PCASReservationCreate_V1_0Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value>139.114.216.245:11730</con:value>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:dfgsd/PASS_VALUE@127.0.0.1:1521:dfgd</con:connectionString>
        <con:password>dgfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="b9f42815-a17d-4447-9f96-07d455d6a705" name="R-A1" index="5">
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentStatusUpdate_V1_5</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_7PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V1_7Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_9PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V1_9</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_10PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V1_10</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_8PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V1_8Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_6PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V1_6Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPayment_V1_4PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PAYSPayment_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V1_5PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V1_5Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_0ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:13610/fts/services/PCASReservationCreate_V1_0Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value>139.114.216.245:11460</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:dfgsd/PASS_VALUE@127.0.0.1:1521:dfgd</con:connectionString>
        <con:password>dgfd</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
