<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="fdfca6c3-fc22-40d3-a6e5-d4de1d1639a4" created="2.8.2" activeEnvironment="G-D4" name="FISK" resourceRoot="" updated="3.6.0" encryptionMode="Not encrypted" scriptLibrary="C:\Ullasa\Projects\JenkinsRegression\V9_Master\V5\pr-regression-valuechain\FiskPayments\scripts" defaultScriptLanguage="Groovy" savePropertyValues="true" compositeProjectFormat="1.3" disableCarriageReturnEscaping="false" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fdfca6c3-fc22-40d3-a6e5-d4de1d1639a4fileName">FiskPayments</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>G-D7</con:name>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
    </con:property>
    <con:property>
      <con:name>Sendqueue</con:name>
    </con:property>
    <con:property>
      <con:name>Recievequeue</con:name>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>PWH</con:name>
      <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
      <con:connectionString>jdbc:cloudscape:SDFDSF?user=FSDFD&amp;password=PASS_VALUE</con:connectionString>
      <con:password/>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:beforeRunScript>//def objProject = context.getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")
//log.info "TestSuite setUp script!!"</con:beforeRunScript>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>import com.eviware.soapui.impl.wsdl.teststeps.JdbcRequestTestStep
def now = new Date()
def time = java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMddHHmmssSSS'))
def date1 = java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyyMMdd')).toString()

def objProject = testRunner.getTestCase().getTestSuite().getProject()
def projPath = objProject.getPath()

filePath =projPath + File.separator + "results"
new File(filePath).mkdir()
filePathDate =filePath + File.separator +date1 + File.separator
new File(filePathDate).mkdir()
def suiteName = testRunner.testCase.testSuite.name.replaceAll("[^a-zA-Z0-9]+","");
filePathSuite = filePath + File.separator +date1 + File.separator + suiteName + File.separator 
new File(filePathSuite).mkdir()

 fos = new FileOutputStream(filePathSuite + testRunner.testCase.name + "_"+ testStepResult.testStep.label + time + '.txt', true)
 pw = new PrintWriter(fos)
 def CurrentStep = testRunner.testCase.getTestStepAt(context.getCurrentStepIndex()).getLabel()
def testStep =  testRunner.testCase.getTestStepByName(CurrentStep)
log.info "Before-->"
if ( testStep instanceof JdbcRequestTestStep )
{
	def lineSeperator =  "\n ****************************************************************************\n " 
	def res = 	 testStep.testRequest.response.getRequestContent() + lineSeperator +  testStep.testRequest.response.responseContent	
	pw.write(res)
}
else{
	log.info CurrentStep
	testStepResult.writeTo(pw)
}
 pw.close()
 fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="af2b78e1-18e8-4ec9-b13a-7fd512da8b3d" name="G-D4" index="1">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D4}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value>10.246.89.107:23621</con:value>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Sendqueue</con:name>
      <con:value>PAIN001.PRFUNC.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>Recievequeue</con:name>
      <con:value>PAIN002.PRFUNC.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value>10.246.89.12</con:value>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value>10.246.89.12:5122</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWH</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d4)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="45007c9a-adad-4b85-bf0c-0c29278543f9" name="G-D7" index="0">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D7}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value>10.246.89.106:24901</con:value>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Sendqueue</con:name>
      <con:value>PIN.D7.CPS.PAIN001ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>Recievequeue</con:name>
      <con:value>CPS.D7.PIN.PAIN002ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWH</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pendata/pen@10.246.89.97:1530/pen_g_sprint</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="ac7a7eed-4708-481b-9ab7-6be7c3aab34e" name="G-S1" index="3">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-S1}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value>10.246.89.109:20811</con:value>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Sendqueue</con:name>
      <con:value>PAIN001.PRSYS.CPS.PIN.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>Recievequeue</con:name>
      <con:value>PAIN002.PRSYS.PIN.CPS.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.24</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value>10.246.89.12</con:value>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value>10.246.89.12:5122</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWH</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_s1)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="f12cdac8-ed78-441c-b93a-315f75390e50" name="G-D6" index="4">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D6}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value>ald-eos-g-app04.man.cosng.net:22641</con:value>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Sendqueue</con:name>
      <con:value>PAIN001.D6.CPS.PIN.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>Recievequeue</con:name>
      <con:value>PAIN002.D6.PIN.CPS.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWH</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP) (HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d6)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="071b2bc6-6c64-4a47-8437-cff471590fde" name="R-S6" index="5">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-S6}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value>alt-eos-r-app03.man.cosng.net:21731</con:value>
    </con:property>
    <con:property>
      <con:name>Sendqueue</con:name>
      <con:value>PIN.S6.CPS.PAIN001</con:value>
    </con:property>
    <con:property>
      <con:name>Recievequeue</con:name>
      <con:value>CPS.S6.PIN.PAIN002</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWH</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa851-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_r_s6)))</con:connectionString>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="c359f457-01ec-4cbe-8283-2746209f9042" name="G-D2" index="2">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentStatusUpdate_V1_4</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#G-D2}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value>ald-eos-g-app02.man.cosng.net:22411</con:value>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Sendqueue</con:name>
      <con:value>PAIN001.SPRINT.CPS.PIN.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>Recievequeue</con:name>
      <con:value>PAIN002.SPRINT.PIN.CPS.ONLINE</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWH</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@//dlt-exa853-scan.unix.cosng.net:1530/pwh_g_d2</con:connectionString>
        <con:password>pwh</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="8e4f47ef-0fd8-44c4-86f7-6c3bb1794d4d" name="R-A1" index="6">
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentStatusUpdate_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPayment_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PAYSPaymentAuthorization_V1_2PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PAYSPaymentAuthorization_V1_2Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V1_4PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentStatusUpdate_V1_4Service</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentSearch_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentSearch_V2_0</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentAuthorization_V1_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://${#Project#R-A1}/pin/services/PINSPaymentAuthorization_V1_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CAUCJobSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="DEPSAccountService_V15_3PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.245:10710/corewsdpgensrv/services/DEPSAccountService_V15_3</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PCASReservationCreate_V1_1ServiceSoapBinding">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ilt-lbx-g-c01.man.cosng.net:13610/fts/services/PCASReservationCreate_V1_1Service</con:endpoint>
    </con:service>
    <con:property>
      <con:name>G-D7</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D4</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-S1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>G-D6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>R-S6</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Sendqueue</con:name>
      <con:value>PAIN001.A1.CPS.PIN</con:value>
    </con:property>
    <con:property>
      <con:name>Recievequeue</con:name>
      <con:value>PAIN002.A1.PIN.CPS</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0PPI</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.48</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1430</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0PPI.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>R-A1</con:name>
      <con:value>139.114.216.245:11460</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>FTS_Masked_Batch_V</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWH</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@//dlt-exa851-scan.unix.cosng.net:1530/pwh_r_a1</con:connectionString>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="0555037f-f4fb-4e93-ab2c-eb4b50d7d704">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="415b8404-c1f2-43a4-a761-29c767fc7b22">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="15bc0171-07d7-440e-b08e-dd951afab8be">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="aec41ae1-9dcf-401f-b7e3-a65b6f4ffdad">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="45007c9a-adad-4b85-bf0c-0c29278543f9">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="ac7a7eed-4708-481b-9ab7-6be7c3aab34e">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="f12cdac8-ed78-441c-b93a-315f75390e50">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="324d3316-6824-43fc-bc92-9ac25f095bf3">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="c359f457-01ec-4cbe-8283-2746209f9042">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="8e4f47ef-0fd8-44c4-86f7-6c3bb1794d4d">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags>
    <con:tag>
      <con:id>80c836ed-176e-461f-ab63-8ac8ed152597</con:id>
      <con:name>SMOKETEST</con:name>
    </con:tag>
  </con:tags>
</con:soapui-project>
