<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b232bff8-cd78-4f1e-b9c6-f51c43c614f0" name="Bank User Inspection Logging" xmlns:con="http://eviware.com/soapui/config">
  <con:description>This suite validates Inspection log when a Bank Employee Searches transaction using Debit/Credit  accountNumber.</con:description>
  <con:settings>
    <con:setting id="b232bff8-cd78-4f1e-b9c6-f51c43c614f0fileName">Bank-User-Inspection-Logging</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>11058249078</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>249078</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>249078</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>40681010086</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>waitForLog</con:name>
      <con:value>2000</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!! $projPath+Scripts"
try{System.sleep(12000)}catch(Exception e){}</con:setupScript>
  <con:reportParameters>
    <con:property>
      <con:name>Log</con:name>
      <con:value/>
    </con:property>
  </con:reportParameters>
</con:testSuite>
