<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e3bbc1bd-0b31-42ae-b5da-8f82f71b8d31" name="Regulatory Reporting Code" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e3bbc1bd-0b31-42ae-b5da-8f82f71b8d31fileName">Regulatory-Reporting-Code</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>01010077571</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42125748338</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYCPS</con:value>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value>4201</con:value>
    </con:property>
    <con:property>
      <con:name>credentials</con:name>
      <con:value>03111012010400425kglPboRi3h16OVtVL1neI9CfuAtjCBO603eS0IgWm1WWIO7EfpSL4DE%2FlDFi69n1sSaabKNt2t%2BxJppso23a37Emmmyjbdrflpq4f56YEcTwqPbJGRxTVbEmmmyjbdrfsSaabKNt2t%2FXzlyjxYnxhcG46wcbIKp%2FsSaabKNt2t9wBUG0SyIoqFfig80Gq4uXVBtimDzTiu3EfQIWD5xMfpd8V90wfJqE%2FrpIdBWOZCg%3DWlPV5eZ4diuCWN8n8MioYhhi5y3ry7ocUG557FkHElWUtZW5y2o9bV4kNOBI2eIvhnMNNl4KZzZiP60aZOtzU6qC7h54%2FjtOS9LP2XwPBSwC3jUA00HIe25%2FFBsLnNciYlYLbkWKiTZCji3sjsSuUS8K0sIEsS3qoAJRWadlGrE%3D</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>//def objProject = context.getTestSuite().getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts" )
//log.info "success"</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
