<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5d2f0d9f-14e9-4cd5-9269-35acb9b9cf1a" name="ReceiptOrderUpdate_PayUtil_V2_1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b23c2d87-1f44-496f-b649-56d773e9bab8fileName">ReceiptOrderUpdate_PayUtil_V2_1</con:setting>
    <con:setting id="5d2f0d9f-14e9-4cd5-9269-35acb9b9cf1afileName">ReceiptOrderUpdate_PayUtil_V2_1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
