<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d40be5c6-921b-4245-bbf2-ce18bd63f6be" name="CPSPreApprovedPayments" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d40be5c6-921b-4245-bbf2-ce18bd63f6befileName">CPSPreApprovedPayments</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>DataSourcePath</con:name>
      <con:value>C:\Server\AutomationSuites\Poorvik\pr-regression-valuechain\PRM-4601-Approve-Project\data\PRM-1544.xlsx</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
testSuite.setPropertyValue("DataSourcePath", "${projPath}${File.separator}data${File.separator}PRM-1544.xlsx")
log.info "DataSourcePath path is -->${projPath}${File.separator}data${File.separator}PRM-1544.xlsx"</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
