<?xml version="1.0" encoding="UTF-8"?>
<con:interface name="CAUCJobSoapBinding" bindingName="{http://edb.com/operation/cauc}CAUCJobSoapBinding" definition="file:/C:/Java/Prosjekt/FTS/fca/fca_jms/src/main/resources/com/edb/cauc/CAUCJob.wsdl" xsi:type="con:WsdlInterface" wsaVersion="NONE" id="e4b5d6a6-0a92-42ec-9fe1-f8c09e0c0c88" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c8a14d36-63ff-484b-b3c4-82d607bb7874fileName">CAUCJobSoapBinding</con:setting>
    <con:setting id="e4b5d6a6-0a92-42ec-9fe1-f8c09e0c0c88fileName">CAUCJobSoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="file:/C:/Java/Prosjekt/FTS/fca/fca_jms/src/main/resources/com/edb/cauc/CAUCJob.wsdl">
    <con:part>
      <con:url>file:/C:/Java/Prosjekt/FTS/fca/fca_jms/src/main/resources/com/edb/cauc/CAUCJob.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions targetNamespace="http://edb.com/operation/cauc" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:cauc="http://edb.com/ws/cauc" xmlns:tns1="http://edb.com/operation/cauc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2000/10/XMLSchema-instance" xmlns:edb="http://edb.com/ws/WSCommon_v10">
  <types>
    <schema targetNamespace="http://edb.com/operation/cauc" xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://edb.com/ws/WSCommon_v10" schemaLocation="Header.xsd"/>
      <xsd:import namespace="http://edb.com/ws/cauc" schemaLocation="CAUCJob.xsd"/>
    </schema>
  </types>
  <message name="CAUCStartJobReq">
    <part element="cauc:CAUCStartJob" name="CAUCStartJobIn"/>
    <part element="edb:AutHeader" name="SoapHeader"/>
  </message>
  <message name="CAUCStartJobRes">
    <part element="cauc:CAUCStartJobResponse" name="CAUCStartJobOut"/>
  </message>
  <message name="CAUCJobReportReq">
    <part element="cauc:CAUCJobReport" name="CAUCJobReportIn"/>
    <part element="edb:AutHeader" name="SoapHeader"/>
  </message>
  <message name="CAUCJobReportRes">
    <part element="cauc:CAUCJobReportResponse" name="CAUCJobReportOut"/>
  </message>
  <portType name="CAUCJobPort">
    <operation name="CAUCStartJob">
      <input message="tns1:CAUCStartJobReq" name="caucstartjobreq"/>
      <output message="tns1:CAUCStartJobRes" name="caucstartjobres"/>
    </operation>
    <operation name="CAUCJobReport">
      <input message="tns1:CAUCJobReportReq" name="caucjobreportreq"/>
      <output message="tns1:CAUCJobReportRes" name="caucjobreportres"/>
    </operation>
  </portType>
  <binding name="CAUCJobSoapBinding" type="tns1:CAUCJobPort">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CAUCStartJob">
      <wsdlsoap:operation soapAction=""/>
      <input name="caucstartjobreq">
        <wsdlsoap:header message="tns1:CAUCStartJobReq" part="SoapHeader" use="literal"/>
        <wsdlsoap:body parts="CAUCStartJobIn" use="literal"/>
      </input>
      <output name="caucstartjobres">
        <wsdlsoap:body use="literal"/>
      </output>
    </operation>
    <operation name="CAUCJobReport">
      <wsdlsoap:operation soapAction=""/>
      <input name="caucjobreportreq">
        <wsdlsoap:header message="tns1:CAUCJobReportReq" part="SoapHeader" use="literal"/>
        <wsdlsoap:body parts="CAUCJobReportIn" use="literal"/>
      </input>
      <output name="caucjobreportres">
        <wsdlsoap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CAUCJobService">
    <port binding="tns1:CAUCJobSoapBinding" name="CAUCJobService">
      <wsdlsoap:address location="http://localhost:8080/cauc/services/CAUCJobService"/>
    </port>
  </service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>file:\C:\Java\Prosjekt\FTS\fca\fca_jms\src\main\resources\com\edb\cauc\Header.xsd</con:url>
      <con:content><![CDATA[<!--edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Fredrik Harloff (TU)-->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema targetNamespace="http://edb.com/ws/WSCommon_v10" elementFormDefault="qualified" xmlns="http://edb.com/ws/WSCommon_v10" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--The data of the client context is used for audit trail purposes (logging, journalizing, authorization). It may well be that some of these data also exist within the payload of the message-->
  <xsd:complexType name="ClientContextType">
    <xsd:sequence>
      <xsd:element name="userid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="credentials" type="xsd:string" minOccurs="0"/>
      <xsd:element name="channel" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orgid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orgunit" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customerid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="locale" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ip" type="xsd:string" minOccurs="0"/>
      <xsd:element name="item" type="itemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="itemType">
    <xsd:attribute name="key" type="xsd:string" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="EDBHeaderType">
    <xsd:sequence>
      <xsd:element name="SourceApplication" type="xsd:string"/>
      <xsd:element name="DestinationApplication" type="xsd:string"/>
      <xsd:element name="Function" type="xsd:string"/>
      <xsd:element name="ClientContext" type="ClientContextType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AutHeader" type="EDBHeaderType"/>
</xsd:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>file:\C:\Java\Prosjekt\FTS\fca\fca_jms\src\main\resources\com\edb\cauc\CAUCJob.xsd</con:url>
      <con:content><![CDATA[<xsd:schema targetNamespace="http://edb.com/ws/cauc" elementFormDefault="qualified" xmlns="http://edb.com/ws/cauc" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CAUCRequestType">
    <xsd:sequence>
      <xsd:element name="Command" type="xsd:string" minOccurs="1"/>
      <xsd:element name="CommandLine" type="xsd:string" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Command line options (eg: -foo bar -novalue -verbose true -JobId 9827272).
                	Predefined options:
                	-JobId: mandatory and is a unique job identifier
                	-ReturnUrl: used in StartJob to specifies the JobReport endpoint
                	-ReturnCode: used in JobReport. 0 ok, 4 warning, 8 fatal
                	-ResultText: used in JobReport to provide addtional textual information</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CAUCResponseType">
    <xsd:sequence>
      <xsd:element name="ReturnState" type="ResponseStateType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseStateType">
    <xsd:sequence>
      <xsd:element name="ErrorStatus" type="xsd:boolean"/>
      <xsd:element name="ErrorCode" type="xsd:int"/>
      <xsd:element name="Message" type="xsd:string"/>
      <xsd:element name="NativeError" type="xsd:string"/>
      <xsd:element name="LogSequence" type="xsd:long"/>
      <xsd:element name="errorItem" type="errorItemType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Optional extention items - key/value pairs are used for extented errorinforamtion.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="errorItemType">
    <xsd:attribute name="key" type="xsd:string" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:element name="CAUCStartJob" type="CAUCRequestType"/>
  <xsd:element name="CAUCStartJobResponse" type="CAUCResponseType"/>
  <xsd:element name="CAUCJobReport" type="CAUCRequestType"/>
  <xsd:element name="CAUCJobReportResponse" type="CAUCResponseType"/>
</xsd:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://${#Project#FTS_Masked_Batch_V}/fts/services/CAUCJobService</con:endpoint>
    <con:endpoint>http://${#Project#FTS_Unmasked_Batch_A}/fts/services/CAUCJobService</con:endpoint>
    <con:endpoint>http://${#Project#FTS_Unmasked_Batch_U}/fts/services/CAUCJobService</con:endpoint>
  </con:endpoints>
</con:interface>
