<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6bf9ecc5-c7dc-4804-9334-b17361ea882c" wadlVersion="http://wadl.dev.java.net/2009/02" name="BankInternalComment" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6bf9ecc5-c7dc-4804-9334-b17361ea882cfileName">BankInternalComment</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="13c5933f-c6e3-4049-a594-d4b917aeb37f">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="aedece42-712f-4547-9ce6-7d2910696db0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="88ed2493-c2ad-4720-af75-b5760d9ad0df">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="7533072a-7419-4ab0-a6f2-69e14cef5695">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="08e7ffc4-fc51-405a-85fa-5adce666b919">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c9288fb5-c07a-4bac-8fa1-0ed521200f60">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="feb52c55-5681-4653-8419-794833085d92">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
