<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="076ea8a2-c1bc-41b8-bae4-721f568a7588" name="SONewCoreAccounts" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="5e8ec315-3e0f-4905-bfbc-63232869570cfileName">SOBalanceBMAbove</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Single Page (Print)</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\Users\EI11421\OneDrive - EVRY\Standing Order\SO Suite</con:setting>
    <con:setting id="e5cafa5f-3aab-4121-9955-58e50b7e5ed0fileName">SONewCoreAccounts</con:setting>
    <con:setting id="076ea8a2-c1bc-41b8-bae4-721f568a7588fileName">SONewCoreAccounts</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>01034801378</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>801378</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId</con:name>
      <con:value>801378</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42020454266</con:value>
    </con:property>
    <con:property>
      <con:name>CreditAccountNumber</con:name>
      <con:value>42023444393</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYCPS</con:value>
    </con:property>
    <con:property>
      <con:name>NegativeBalanceCustomer</con:name>
      <con:value>123</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")</con:setupScript>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="73c7f7e3-196d-4ab2-805e-76631fb2b83c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
