<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="PRM-682-2-Predefined creditor Update_BM" id="8021ef00-b724-4ced-96fe-871915dd5757" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Test suite for PDC update ;
More info : https://fswiki.evry.com/pages/viewpage.action?pageId=179027855</con:description>
  <con:settings>
    <con:setting id="1b462615-5d7d-4b89-82f1-133a02cbee35fileName">PRM-682-2-Predefined-creditor-Update</con:setting>
    <con:setting id="cdea41ad-795b-4f7f-86c4-111d5ccd4d75fileName">PRM-682-2-Predefined-creditor-Update_new</con:setting>
    <con:setting id="51ba360f-f1c2-4e87-8a98-abe26811665efileName">PRM-682-2-Predefined-creditor-Update</con:setting>
    <con:setting id="6523ac16-e5cd-4942-8be4-7be551740a81fileName">PRM-682-2-Predefined-creditor-Update_PM</con:setting>
    <con:setting id="8021ef00-b724-4ced-96fe-871915dd5757fileName">PRM-682-2-Predefined-creditor-Update_BM</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>intIntermediary3</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed3NationalId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermediary2</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed2NationalId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intIntermed1NationalId</con:name>
      <con:value>1234</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency6</con:name>
      <con:value>GBP</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency5</con:name>
      <con:value>CNY</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency4</con:name>
      <con:value>JPY</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency3</con:name>
      <con:value>USD</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency2</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>amountCurrency1</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>intIntermediary1</con:name>
      <con:value>BOFAUS6SXXX</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCreditAccountCcy</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>intCreditAccountCcy</con:name>
      <con:value>USD</con:value>
    </con:property>
    <con:property>
      <con:name>debtCountry</con:name>
      <con:value>NO</con:value>
    </con:property>
    <con:property>
      <con:name>intCreditAccount</con:name>
      <con:value>1233443554656</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBic</con:name>
      <con:value>CITIUS33XXX</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry</con:name>
      <con:value>US</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCredAgentCountry</con:name>
      <con:value>DE</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCreditAccount</con:name>
      <con:value>DE89370400440532013000</con:value>
    </con:property>
    <con:property>
      <con:name>sepaCredAgentBic</con:name>
      <con:value>DAAEDEDDXXX</con:value>
    </con:property>
    <con:property>
      <con:name>value4</con:name>
      <con:value>${=java.util.UUID.randomUUID()}</con:value>
    </con:property>
    <con:property>
      <con:name>item4</con:name>
      <con:value>LogRef</con:value>
    </con:property>
    <con:property>
      <con:name>value3</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>item3</con:name>
      <con:value>SelfService</con:value>
    </con:property>
    <con:property>
      <con:name>value2</con:name>
      <con:value>824646775</con:value>
    </con:property>
    <con:property>
      <con:name>item2</con:name>
      <con:value>AgreementId</con:value>
    </con:property>
    <con:property>
      <con:name>value1</con:name>
      <con:value>BES</con:value>
    </con:property>
    <con:property>
      <con:name>item1</con:name>
      <con:value>PaymentChannel</con:value>
    </con:property>
    <con:property>
      <con:name>debitAgentBic</con:name>
      <con:value>SPTRNO22XXX</con:value>
    </con:property>
    <con:property>
      <con:name>debitAcntccy</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccount</con:name>
      <con:value>42125659823</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>824646775</con:value>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value>4201</con:value>
    </con:property>
    <con:property>
      <con:name>credentials</con:name>
      <con:value>03111012010400425kglPboRi3h16OVtVL1neI9CfuAtjCBO603eS0IgWm1WWIO7EfpSL4DE%2FlDFi69n1sSaabKNt2t%2BxJppso23a37Emmmyjbdrflpq4f56YEcTwqPbJGRxTVbEmmmyjbdrfsSaabKNt2t%2FXzlyjxYnxhcG46wcbIKp%2FsSaabKNt2t9wBUG0SyIoqFfig80Gq4uXVBtimDzTiu3EfQIWD5xMfpd8V90wfJqE%2FrpIdBWOZCg%3DWlPV5eZ4diuCWN8n8MioYhhi5y3ry7ocUG557FkHElWUtZW5y2o9bV4kNOBI2eIvhnMNNl4KZzZiP60aZOtzU6qC7h54%2FjtOS9LP2XwPBSwC3jUA00HIe25%2FFBsLnNciYlYLbkWKiTZCji3sjsSuUS8K0sIEsS3qoAJRWadlGrE%3D</con:value>
    </con:property>
    <con:property>
      <con:name>userid</con:name>
      <con:value>824646775</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>CPS</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBicWithEightDig</con:name>
      <con:value>CITIUS33</con:value>
    </con:property>
    <con:property>
      <con:name>intInterAgentBicWithElevenDig</con:name>
      <con:value>AFSBUS33XXX</con:value>
    </con:property>
    <con:property>
      <con:name>intInterAgentBicWithEightDig</con:name>
      <con:value>AFSBUS33</con:value>
    </con:property>
    <con:property>
      <con:name>IBANAccount</con:name>
      <con:value>GB29NWBK60161331926819</con:value>
    </con:property>
    <con:property>
      <con:name>nationalIdWithNoPrefix</con:name>
      <con:value>403519</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentCountry1</con:name>
      <con:value>GB</con:value>
    </con:property>
    <con:property>
      <con:name>nationalIdwithPrefix</con:name>
      <con:value>SC403519</con:value>
    </con:property>
    <con:property>
      <con:name>intCreditAccountCcy1</con:name>
      <con:value>SEK</con:value>
    </con:property>
    <con:property>
      <con:name>BBANCreditAcc</con:name>
      <con:value>58398257466</con:value>
    </con:property>
    <con:property>
      <con:name>intCredAgentBic1</con:name>
      <con:value>ESSESESSXXX</con:value>
    </con:property>
    <con:property>
      <con:name>ibanCredAgentBic2</con:name>
      <con:value>NWBKGB2LXXX</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionString</con:name>
      <con:value>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.246.89.97)(PORT=1530))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d10)))</con:value>
    </con:property>
    <con:property>
      <con:name>credDom</con:name>
      <con:value>42121948790</con:value>
    </con:property>
    <con:property>
      <con:name>intermediarynameChar</con:name>
      <con:value>creditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecredit141</con:value>
    </con:property>
    <con:property>
      <con:name>intermediaryname</con:name>
      <con:value>test</con:value>
    </con:property>
    <con:property>
      <con:name>suppliernumspclchar</con:name>
      <con:value>test@##@!$</con:value>
    </con:property>
    <con:property>
      <con:name>suppliernumspace</con:name>
      <con:value>test 123123</con:value>
    </con:property>
    <con:property>
      <con:name>suppliernumalphabet</con:name>
      <con:value>testabcADWE</con:value>
    </con:property>
    <con:property>
      <con:name>suppliernum36char</con:name>
      <con:value>creditorNamecreditorNamecredito66778</con:value>
    </con:property>
    <con:property>
      <con:name>userid2</con:name>
      <con:value>865400322</con:value>
    </con:property>
    <con:property>
      <con:name>customerid2</con:name>
      <con:value>865400322</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccount2</con:name>
      <con:value>42024707126</con:value>
    </con:property>
    <con:property>
      <con:name>value5</con:name>
      <con:value>865400322</con:value>
    </con:property>
    <con:property>
      <con:name>invalidPdcid</con:name>
      <con:value>11014567111</con:value>
    </con:property>
    <con:property>
      <con:name>intrmdryagntbicspclchar</con:name>
      <con:value>%%###!!</con:value>
    </con:property>
    <con:property>
      <con:name>intrmdryagntbicspace</con:name>
      <con:value>BOFAUS6  SXXX</con:value>
    </con:property>
    <con:property>
      <con:name>intrmdryagntbic11+char</con:name>
      <con:value>BOFAUSSXXXXXX</con:value>
    </con:property>
    <con:property>
      <con:name>intrmdryagntbiclessthan8char</con:name>
      <con:value>BOFAU</con:value>
    </con:property>
    <con:property>
      <con:name>leadingSpecialChar</con:name>
      <con:value>@#alias</con:value>
    </con:property>
    <con:property>
      <con:name>trailingSpecialChar</con:name>
      <con:value>alias@$</con:value>
    </con:property>
    <con:property>
      <con:name>SpecialCharInBetween</con:name>
      <con:value>al$#!ias</con:value>
    </con:property>
    <con:property>
      <con:name>leadingSpace</con:name>
      <con:value>alias</con:value>
    </con:property>
    <con:property>
      <con:name>trailingSpace</con:name>
      <con:value>alias</con:value>
    </con:property>
    <con:property>
      <con:name>spaceInBetween</con:name>
      <con:value>alias new to check</con:value>
    </con:property>
    <con:property>
      <con:name>alias50+char</con:name>
      <con:value>aliasaliasaliasaliasaliasaliasaliasaliasaliasaliasal</con:value>
    </con:property>
    <con:property>
      <con:name>credAgentSpclChar</con:name>
      <con:value>credit@agent##%%%</con:value>
    </con:property>
    <con:property>
      <con:name>credAgent140+Char</con:name>
      <con:value>creditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecredit141</con:value>
    </con:property>
    <con:property>
      <con:name>credAgentname</con:name>
      <con:value>test</con:value>
    </con:property>
    <con:property>
      <con:name>credagntcntrySpclChar</con:name>
      <con:value>GB!@</con:value>
    </con:property>
    <con:property>
      <con:name>credAgentcntryspace</con:name>
      <con:value>G B</con:value>
    </con:property>
    <con:property>
      <con:name>credAgentcntrynum</con:name>
      <con:value>G2B</con:value>
    </con:property>
    <con:property>
      <con:name>credAgentcntry2+char</con:name>
      <con:value>GBD</con:value>
    </con:property>
    <con:property>
      <con:name>credAgentcntry2-char</con:name>
      <con:value>G</con:value>
    </con:property>
    <con:property>
      <con:name>credAgentothercntry</con:name>
      <con:value>IN</con:value>
    </con:property>
    <con:property>
      <con:name>credAgentinvalidcntry</con:name>
      <con:value>YU</con:value>
    </con:property>
    <con:property>
      <con:name>crednm2</con:name>
      <con:value>Cred1</con:value>
    </con:property>
    <con:property>
      <con:name>ultcrednmspclchar</con:name>
      <con:value>Cred#!@</con:value>
    </con:property>
    <con:property>
      <con:name>ultcrednmnum</con:name>
      <con:value>Cred1234</con:value>
    </con:property>
    <con:property>
      <con:name>ultcredname</con:name>
      <con:value>Ultimate Cred</con:value>
    </con:property>
    <con:property>
      <con:name>ultimatecred140+char</con:name>
      <con:value>creditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecredit141</con:value>
    </con:property>
    <con:property>
      <con:name>ultcntryspclchar</con:name>
      <con:value>@G</con:value>
    </con:property>
    <con:property>
      <con:name>ultcntryspace</con:name>
      <con:value>G B</con:value>
    </con:property>
    <con:property>
      <con:name>ultcntrychar2+</con:name>
      <con:value>GBG</con:value>
    </con:property>
    <con:property>
      <con:name>ultcntrychar2-</con:name>
      <con:value>G</con:value>
    </con:property>
    <con:property>
      <con:name>ultcntry</con:name>
      <con:value>YU</con:value>
    </con:property>
    <con:property>
      <con:name>ultcntrynum</con:name>
      <con:value>G1</con:value>
    </con:property>
    <con:property>
      <con:name>ultdpt</con:name>
      <con:value>testdept</con:value>
    </con:property>
    <con:property>
      <con:name>ultsubdpt</con:name>
      <con:value>testsub</con:value>
    </con:property>
    <con:property>
      <con:name>ultaddrline</con:name>
      <con:value>testaddr</con:value>
    </con:property>
    <con:property>
      <con:name>ultpostcode16+char</con:name>
      <con:value>12345676543416622</con:value>
    </con:property>
    <con:property>
      <con:name>ulttown35+char</con:name>
      <con:value>New town name test for creditor updt</con:value>
    </con:property>
    <con:property>
      <con:name>ultaddr70+char</con:name>
      <con:value>New address line test for creditor update to test with more than 70 chr</con:value>
    </con:property>
    <con:property>
      <con:name>crednmSpclChar</con:name>
      <con:value>Cred@</con:value>
    </con:property>
    <con:property>
      <con:name>crednmnum</con:name>
      <con:value>Cred12</con:value>
    </con:property>
    <con:property>
      <con:name>crednmNotassociatedwithdtls</con:name>
      <con:value>cred</con:value>
    </con:property>
    <con:property>
      <con:name>crednm140+char</con:name>
      <con:value>creditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecreditorNamecredit141</con:value>
    </con:property>
    <con:property>
      <con:name>credcntryspclchar</con:name>
      <con:value>@G</con:value>
    </con:property>
    <con:property>
      <con:name>credcntryspace</con:name>
      <con:value>G B</con:value>
    </con:property>
    <con:property>
      <con:name>credcntrynum</con:name>
      <con:value>G1</con:value>
    </con:property>
    <con:property>
      <con:name>credcntrychar2+</con:name>
      <con:value>GBG</con:value>
    </con:property>
    <con:property>
      <con:name>credcntrychar2-</con:name>
      <con:value>G</con:value>
    </con:property>
    <con:property>
      <con:name>credcntry</con:name>
      <con:value>YU</con:value>
    </con:property>
    <con:property>
      <con:name>credagntbicspclchar</con:name>
      <con:value>CITIUS33@@XXX</con:value>
    </con:property>
    <con:property>
      <con:name>credagntbicspace</con:name>
      <con:value>CITIUS33  XXX</con:value>
    </con:property>
    <con:property>
      <con:name>credagntbic11+char</con:name>
      <con:value>CITIUS33XXXX</con:value>
    </con:property>
    <con:property>
      <con:name>credagntbic8-char</con:name>
      <con:value>CITIUS</con:value>
    </con:property>
    <con:property>
      <con:name>credbicnotinPBD</con:name>
      <con:value>DITIUS33XXX</con:value>
    </con:property>
    <con:property>
      <con:name>creddpt</con:name>
      <con:value>testdept</con:value>
    </con:property>
    <con:property>
      <con:name>credsubdpt</con:name>
      <con:value>testsub</con:value>
    </con:property>
    <con:property>
      <con:name>credaddrline</con:name>
      <con:value>testaddr</con:value>
    </con:property>
    <con:property>
      <con:name>credpostcode</con:name>
      <con:value>3456</con:value>
    </con:property>
    <con:property>
      <con:name>credtown</con:name>
      <con:value>test town</con:value>
    </con:property>
    <con:property>
      <con:name>credpostcode16+char</con:name>
      <con:value>35678889990000007</con:value>
    </con:property>
    <con:property>
      <con:name>credtown35+char</con:name>
      <con:value>New town name test for creditor updt</con:value>
    </con:property>
    <con:property>
      <con:name>credaddr70+char</con:name>
      <con:value>New address line test for creditor update to test with more than 70 chr</con:value>
    </con:property>
    <con:property>
      <con:name>credagntstreet</con:name>
      <con:value>New creditor agent Street name to test Predefined Creditor Update 12345</con:value>
    </con:property>
    <con:property>
      <con:name>credagntbuilding</con:name>
      <con:value>Building name tst</con:value>
    </con:property>
    <con:property>
      <con:name>credagntsubdiv</con:name>
      <con:value>New country subdiv test for creditor</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
