<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b5cc4974-d46c-4908-ab70-bcc82407ec60" name="http://10.246.89.212:29191 Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b5cc4974-d46c-4908-ab70-bcc82407ec60fileName">http%3A%2F%2F10.246.89.212%3A29191-Test-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="eb560c2b-2a2a-4ead-9d00-5b73b67d272e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="8986f7fe-2c19-420e-90e5-442e2963b1db">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="4040d6be-01e4-4211-a212-c7331340b35a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
