<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1b19ee2d-ae3e-4518-93b1-234602d114b2" name="FilePayments_ApproveMultipleTransactions" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b29b7865-83c6-4f62-8f39-e453a7f33b94fileName">FilePayment_SingleTransaction</con:setting>
    <con:setting id="7d44ad49-fdb8-4d7d-88d3-1b3881622265fileName">FilePayment_ApproveSingleTransaction</con:setting>
    <con:setting id="d9ca7c39-24b7-48a5-bd4b-ebe5f8e59a7bfileName">FilePayments_ApproveMultipleTransactions</con:setting>
    <con:setting id="1b19ee2d-ae3e-4518-93b1-234602d114b2fileName">FilePayments_ApproveMultipleTransactions</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
