<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="753cc6ec-67b1-4e87-aa09-3c9db8056821" name="POB_RISK" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="753cc6ec-67b1-4e87-aa09-3c9db8056821fileName">POB_RISK</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
