<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4c75c598-7b37-4403-8e84-ab83d1316798" name="status update async" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4c75c598-7b37-4403-8e84-ab83d1316798fileName">status-update-async</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
