<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="05f453a0-5f80-4092-ba3d-ef08434b3991" name="PredefinedCreditorV_2.1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="05f453a0-5f80-4092-ba3d-ef08434b3991fileName">PredefinedCreditorV_2.1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
