<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d102db01-04b2-452f-babe-3975ffa0c877" name="SOPeriodicPMISPC" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d102db01-04b2-452f-babe-3975ffa0c877fileName">SOPeriodicPMISPC</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>18079117796</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>18079117796</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42025449260</con:value>
    </con:property>
    <con:property>
      <con:name>CreditAccountNumber</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>customerid_EUR</con:name>
      <con:value>30067406148</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_EUR</con:name>
      <con:value>406148</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_EUR</con:name>
      <con:value>406148</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_EUR</con:name>
      <con:value>42010313044</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode_EUR</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>customerid_USD</con:name>
      <con:value>28088403101</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_USD</con:name>
      <con:value>403101</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_USD</con:name>
      <con:value>403101</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_USD</con:name>
      <con:value>42010315748</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode_USD</con:name>
      <con:value>USD</con:value>
    </con:property>
    <con:property>
      <con:name>customerid_INHOUSE</con:name>
      <con:value>24107725306</con:value>
    </con:property>
    <con:property>
      <con:name>UserID_INHOUSE</con:name>
      <con:value>725306</con:value>
    </con:property>
    <con:property>
      <con:name>AgreementId_INHOUSE</con:name>
      <con:value>725306</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber_INHOUSE</con:name>
      <con:value>42010262415</con:value>
    </con:property>
    <con:property>
      <con:name>currencyCode_INHOUSE</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>CreditAccountNumber_INHOUSE</con:name>
      <con:value>42010196609</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYINT</con:value>
    </con:property>
    <con:property>
      <con:name>EURCredAccount</con:name>
      <con:value>42010236686</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
