<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4adbb8a2-83e2-4d12-afd1-2febc97ad877" name="Create/Retrive Bank Comments" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4adbb8a2-83e2-4d12-afd1-2febc97ad877fileName">Create%2FRetrive-Bank-Comments</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="13c5933f-c6e3-4049-a594-d4b917aeb37f">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="aedece42-712f-4547-9ce6-7d2910696db0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="88ed2493-c2ad-4720-af75-b5760d9ad0df">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="7533072a-7419-4ab0-a6f2-69e14cef5695">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="08e7ffc4-fc51-405a-85fa-5adce666b919">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c9288fb5-c07a-4bac-8fa1-0ed521200f60">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="feb52c55-5681-4653-8419-794833085d92">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
