<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="088af91e-5436-4755-a4d0-9317ad368c02" name="AddReservation" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="088af91e-5436-4755-a4d0-9317ad368c02fileName">AddReservation</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
