<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="e8725233-6751-4fc8-8757-2b5610489e7a" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://10.246.89.212:29191" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e8725233-6751-4fc8-8757-2b5610489e7afileName">http%3A%2F%2F10.246.89.212%3A29191</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://10.246.89.212:29191/pin/api/v7/validateAccounts</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="eb560c2b-2a2a-4ead-9d00-5b73b67d272e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="8986f7fe-2c19-420e-90e5-442e2963b1db">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
