<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f7ec1826-de37-4ef3-88f4-ee027774ea18" name="Historic_PaymentSearches_DebitReservationID" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f7ec1826-de37-4ef3-88f4-ee027774ea18fileName">Historic_PaymentSearches_DebitReservationID</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>