<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="94b80a0d-4eec-4215-85d0-60b96c0b701c" name="Online Payments" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6c6463ee-3bc4-4415-9561-0101bf190010fileName">Online-Payments</con:setting>
    <con:setting id="94b80a0d-4eec-4215-85d0-60b96c0b701cfileName">Online-Payments</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
