<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d89dc30c-0b96-423c-bb5d-ffd2eeaeab68" name="PaymentStatusUpdate_Enduser" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d89dc30c-0b96-423c-bb5d-ffd2eeaeab68fileName">PaymentStatusUpdate_Enduser</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>