<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="287ee35c-9d79-4a0d-8eaa-2498c5f31c61" name="SOBalancePMBelow" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="287ee35c-9d79-4a0d-8eaa-2498c5f31c61fileName">SOBalancePMBelow</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>01010013735</con:value>
    </con:property>
    <con:property>
      <con:name>UserID</con:name>
      <con:value>01010013735</con:value>
    </con:property>
    <con:property>
      <con:name>accountNumber</con:name>
      <con:value>42121548016</con:value>
    </con:property>
    <con:property>
      <con:name>CreditAccountNumber</con:name>
      <con:value>42124396241</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYINT</con:value>
    </con:property>
    <con:property>
      <con:name>BalanceLimitAmount</con:name>
      <con:value>570.0</con:value>
    </con:property>
    <con:property>
      <con:name>TriggerAmount</con:name>
      <con:value>571.0</con:value>
    </con:property>
    <con:property>
      <con:name>NegativeBalanceCustomer</con:name>
      <con:value>'123'</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>//def objProject = context.getTestSuite().getProject()
//def projPath = objProject.getPath()
//objProject.setScriptLibrary(projPath + File.separator + "scripts")</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
