<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="27db78d5-c0a6-44ca-8608-5e9c3a74909c" name="PORJobExecution" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8d8a5f13-6d33-430b-9990-e2e3c1bf9190fileName">SKKO</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="5cb2aa6c-ae54-4fc2-8e86-74abb4742a3bfileName">SKKO</con:setting>
    <con:setting id="27db78d5-c0a6-44ca-8608-5e9c3a74909cfileName">PORJobExecution</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:setupScript>def objProject = context.getTestSuite().getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"
//try{System.sleep(15000)}catch(Exception e){}</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
