<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="93645ee6-af63-4464-bc59-f4d36cfcd8c7" created="3.3.2" activeEnvironment="SHB-D2" name="CAVA_PTI_PROJECT" resourceRoot="" compositeProjectFormat="1.3" updated="3.9.0" scriptLibrary="C:\Repos\payment_auto\pr-regression-valuechain\CAVA-PTI-readyapi-project\scripts" encryptionMode="Not encrypted" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="93645ee6-af63-4464-bc59-f4d36cfcd8c7fileName">CAVA_PTI_PROJECT</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>pwhConnectionString</con:name>
      <con:value>jdbc:oracle:thin:pwhdata/pwh@//10.246.89.97:1530/pwh_g_d17</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
    </con:property>
    <con:property>
      <con:name>EOSHost</con:name>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
    </con:property>
    <con:property>
      <con:name>sendQueueSEPA</con:name>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
    </con:property>
    <con:property>
      <con:name>sendQueueNonSepa</con:name>
    </con:property>
    <con:property>
      <con:name>fromAccount</con:name>
    </con:property>
    <con:property>
      <con:name>toAccount</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>PWHDATA</con:name>
      <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
      <con:connectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">jdbc:oracle:thin:pwhdada/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d10)))</con:connectionString>
      <con:password/>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:beforeRunScript>def objProject = context.getProject()
def projPath = objProject.getPath()
objProject.setScriptLibrary(projPath + File.separator + "scripts")
log.info "TestSuite setUp script!!"</con:beforeRunScript>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>import com.eviware.soapui.impl.wsdl.teststeps.JdbcRequestTestStep

def now = new Date()
def time =  now.format("yyyyMMddHHmmssSSS", TimeZone.getTimeZone('UTC'))
def date1 = now.format("yyyyMMdd", TimeZone.getTimeZone('UTC')).toString()

def objProject = testRunner.getTestCase().getTestSuite().getProject()
def projPath = objProject.getPath()

filePath =projPath + File.separator + "results"
new File(filePath).mkdir()

filePathDate =filePath + File.separator +date1 + File.separator
new File(filePathDate).mkdir()

def suiteName = testRunner.testCase.testSuite.name.replaceAll("[^a-zA-Z0-9]+","");
filePathSuite = filePath + File.separator +date1 + File.separator + suiteName + File.separator 
new File(filePathSuite).mkdir()

fos = new FileOutputStream(filePathSuite + testRunner.testCase.name + "_"+ testStepResult.testStep.label + time + '.txt', true)
pw = new PrintWriter(fos)

def CurrentStep = testRunner.testCase.getTestStepAt(context.getCurrentStepIndex()).getLabel()
def testStep =  testRunner.testCase.getTestStepByName(CurrentStep)
log.info "Before-->"

if ( testStep instanceof JdbcRequestTestStep )
{
	def lineSeperator =  "\n ****************************************************************************\n " 
	def res = testStep.testRequest.response.getRequestContent() + lineSeperator +  testStep.testRequest.response.responseContent	
	pw.write(res)
}
else{
	log.info CurrentStep
	testStepResult.writeTo(pw)
}
pw.close()
fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="ddd0b05f-bf2f-45c5-8c83-f5630d0b1e78" name="G-D6" index="0">
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:22641/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.108:22641/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:22641/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.108:22641/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.106:22971/fundscheck/services/FNDSReservationService_V10</con:endpoint>
    </con:service>
    <con:property>
      <con:name>UserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EOSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>sendQueueSEPA</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>sendQueueNonSepa</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>fromAccount</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>toAccount</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d6)))</con:connectionString>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="06086256-efad-4f7d-ba8a-11d8d8344b09" name="G-D14" index="1">
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29241/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.108:29241/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:29241/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.108:29241/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.1PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V11</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" wssType="" wssTimeToLive="" outgoingWss="" incomingWss="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V10</con:endpoint>
    </con:service>
    <con:property>
      <con:name>UserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EOSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>sendQueueSEPA</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>sendQueueNonSepa</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>fromAccount</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>toAccount</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.246.89.97)(PORT=1530))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d14)))</con:connectionString>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="208f8252-be9f-4835-a3ab-6780a27654cc" name="G-D10" index="2">
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.108:25781/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.212:29191/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://ald-eos-g-app02.man.cosng.net:22411/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.212:29191/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.1PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V11?wsdl</con:endpoint>
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V11</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V10?wsdl</con:endpoint>
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V10</con:endpoint>
    </con:service>
    <con:property>
      <con:name>UserName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EOSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>sendQueueSEPA</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>sendQueueNonSepa</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>fromAccount</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>toAccount</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=ON)(FAILOVER=ON)(ADDRESS=(PROTOCOL=TCP)(HOST=dlt-exa853-scan.unix.cosng.net)(PORT=1530)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=pwh_g_d10)))</con:connectionString>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d5b3d136-3533-4cea-9b5a-17faa0519c6d" name="SHB-D2" index="3">
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:25781/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:25781/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.1PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V11</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V10</con:endpoint>
    </con:service>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e232155</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>EOSHost</con:name>
      <con:value>10.246.89.107</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueSEPA</con:name>
      <con:value>ROMA.D2.CLIF</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0GNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.117</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1414</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueNonSepa</con:name>
      <con:value>ROMA.D2.ABOL</con:value>
    </con:property>
    <con:property>
      <con:name>fromAccount</con:name>
      <con:value>SE1280000835350037425501</con:value>
    </con:property>
    <con:property>
      <con:name>toAccount</con:name>
      <con:value>FI4531511000003557</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@10.246.89.97:1530/pwh_g_d17</con:connectionString>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="5a47a3e8-29bc-4eb7-a9dd-c54c6d37d2bb" name="SHB-D1" index="4">
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:25781/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:25781/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.1PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V11</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V10</con:endpoint>
    </con:service>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e232155</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>EOSHost</con:name>
      <con:value>10.246.89.107</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueSEPA</con:name>
      <con:value>ROMA.D1.CLIF</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0GNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>10.246.89.117</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1414</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>QT0GNMQ.SEPA.CL</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueNonSepa</con:name>
      <con:value>ROMA.D1.ABOL</con:value>
    </con:property>
    <con:property>
      <con:name>fromAccount</con:name>
      <con:value>SE1280000835350037425501</con:value>
    </con:property>
    <con:property>
      <con:name>toAccount</con:name>
      <con:value>FI6331512000032299</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@10.246.89.97:1530/pwh_g_d17</con:connectionString>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="bcb2bd7e-2ccc-4feb-a222-09fb43b4963d" name="SHB-S1" index="5">
    <con:service type="SOAP" name="PINSPayment_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:25781/pin/services/PINSPayment_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="PINSPaymentStatusUpdate_V2_0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.108:25781/pin/services/PINSPaymentStatusUpdate_V2_0?wsdl</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.1PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V11</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="FNDSReservationService_V1.0PortTypeSoap11">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.246.89.106:27661/fundscheck/services/FNDSReservationService_V10</con:endpoint>
    </con:service>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>e232155</con:value>
    </con:property>
    <con:property>
      <con:name>Port</con:name>
      <con:value>22</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>e211732</con:value>
    </con:property>
    <con:property>
      <con:name>EOSHost</con:name>
      <con:value>10.246.89.107</con:value>
    </con:property>
    <con:property>
      <con:name>EBSHost</con:name>
      <con:value>10.246.89.207</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueSEPA</con:name>
      <con:value>ROMA.S1.CLIF</con:value>
    </con:property>
    <con:property>
      <con:name>mqManager</con:name>
      <con:value>QT0RNMQ</con:value>
    </con:property>
    <con:property>
      <con:name>mqHostname</con:name>
      <con:value>139.114.216.8</con:value>
    </con:property>
    <con:property>
      <con:name>mqPort</con:name>
      <con:value>1415</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannel</con:name>
      <con:value>PIN.S6.QT0RNMQ.CL</con:value>
    </con:property>
    <con:property>
      <con:name>mqChannelAuth</con:name>
      <con:value>PIN.S6.QT0RNMQ.CL</con:value>
    </con:property>
    <con:property>
      <con:name>sendQueueNonSepa</con:name>
      <con:value>ROMA.S1.ABOL</con:value>
    </con:property>
    <con:property>
      <con:name>fromAccount</con:name>
      <con:value>SE1280000835350037425501</con:value>
    </con:property>
    <con:property>
      <con:name>toAccount</con:name>
      <con:value>FI8031512000027919</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>PWHDATA</con:name>
        <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
        <con:connectionString>jdbc:oracle:thin:pwhdata/pwh@10.246.89.97:1530/pwh_g_d17</con:connectionString>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags>
    <con:tag>
      <con:id>15454858-1063-4860-b877-878381408972</con:id>
      <con:name>SMOKETEST</con:name>
    </con:tag>
    <con:tag>
      <con:id>2f9ce233-6b5c-4c11-b1c8-d2e9b0c4048b</con:id>
      <con:name>CAVASMOKETESTDATAGEN</con:name>
    </con:tag>
  </con:tags>
</con:soapui-project>
