<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="16d5e96d-16ee-488f-acd7-7e0fd0bd728a" name="PRM5900/5917_OUTWARD_IBAN" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="16d5e96d-16ee-488f-acd7-7e0fd0bd728afileName">PRM5900%2F5917_OUTWARD_IBAN</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>Version</con:name>
      <con:value>2.1</con:value>
    </con:property>
    <con:property>
      <con:name>value4</con:name>
      <con:value>${=java.util.UUID.randomUUID().toString()}</con:value>
    </con:property>
    <con:property>
      <con:name>value3</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>value2</con:name>
      <con:value>E211732</con:value>
    </con:property>
    <con:property>
      <con:name>value1</con:name>
      <con:value>ITR</con:value>
    </con:property>
    <con:property>
      <con:name>userid</con:name>
      <con:value>E211732</con:value>
    </con:property>
    <con:property>
      <con:name>SourceApplication</con:name>
      <con:value>EVRYINT</con:value>
    </con:property>
    <con:property>
      <con:name>ReqExnDate</con:name>
      <con:value>${= java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyy-MM-dd'))}</con:value>
    </con:property>
    <con:property>
      <con:name>remInfoUSTRD</con:name>
      <con:value>UNSTRUCTURED REMITTANCE INFO</con:value>
    </con:property>
    <con:property>
      <con:name>regulatroyReportingINF</con:name>
      <con:value>TEST REG REP</con:value>
    </con:property>
    <con:property>
      <con:name>regulatoryeportingCode</con:name>
      <con:value>14</con:value>
    </con:property>
    <con:property>
      <con:name>refDocNumber</con:name>
      <con:value>117766</con:value>
    </con:property>
    <con:property>
      <con:name>refDocIssuer</con:name>
      <con:value>Issuer ref Doc</con:value>
    </con:property>
    <con:property>
      <con:name>refDocDate</con:name>
      <con:value>2021-12-18</con:value>
    </con:property>
    <con:property>
      <con:name>refDocCCy</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>refDocAmount</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>randomNumGen</con:name>
      <con:value>${=Math.abs(new Random().nextInt() % 6000000)+1}</con:value>
    </con:property>
    <con:property>
      <con:name>orgid</con:name>
      <con:value>3625</con:value>
    </con:property>
    <con:property>
      <con:name>Locale</con:name>
      <con:value>en</con:value>
    </con:property>
    <con:property>
      <con:name>item4</con:name>
      <con:value>LogRef</con:value>
    </con:property>
    <con:property>
      <con:name>item3</con:name>
      <con:value>SelfService</con:value>
    </con:property>
    <con:property>
      <con:name>item2</con:name>
      <con:value>Employee</con:value>
    </con:property>
    <con:property>
      <con:name>item1</con:name>
      <con:value>PaymentChannel</con:value>
    </con:property>
    <con:property>
      <con:name>ip</con:name>
      <con:value>1.1.1.1</con:value>
    </con:property>
    <con:property>
      <con:name>invoicerOtherId</con:name>
      <con:value>OtherIDINVER</con:value>
    </con:property>
    <con:property>
      <con:name>invoicerName</con:name>
      <con:value>Invoicer 456</con:value>
    </con:property>
    <con:property>
      <con:name>invoicerBIC</con:name>
      <con:value>SPAVNOBBXXX</con:value>
    </con:property>
    <con:property>
      <con:name>invoiceeOtherId</con:name>
      <con:value>OtherIDINVEE</con:value>
    </con:property>
    <con:property>
      <con:name>invoiceeName</con:name>
      <con:value>Invoicee 123</con:value>
    </con:property>
    <con:property>
      <con:name>invoiceeBIC</con:name>
      <con:value>NDEASESSXXX</con:value>
    </con:property>
    <con:property>
      <con:name>Function</con:name>
      <con:value>PaymentCreate</con:value>
    </con:property>
    <con:property>
      <con:name>DestinationApplication</con:name>
      <con:value>PIN</con:value>
    </con:property>
    <con:property>
      <con:name>debtorName</con:name>
      <con:value>DEBIT CUST MC</con:value>
    </con:property>
    <con:property>
      <con:name>debitorAgentBIC</con:name>
      <con:value>SPAVNOBBXXX</con:value>
    </con:property>
    <con:property>
      <con:name>debitAcntccy</con:name>
      <con:value>NOK</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccountNOK</con:name>
      <con:value>NO5736281260639</con:value>
    </con:property>
    <con:property>
      <con:name>customerid</con:name>
      <con:value>13016007026</con:value>
    </con:property>
    <con:property>
      <con:name>credRefReference</con:name>
      <con:value>Test Cred Reference</con:value>
    </con:property>
    <con:property>
      <con:name>credRefIssuer</con:name>
      <con:value>Issuer cred ref</con:value>
    </con:property>
    <con:property>
      <con:name>creditorName</con:name>
      <con:value>CREDIT CUST MC</con:value>
    </con:property>
    <con:property>
      <con:name>creditorCountrySEPA</con:name>
      <con:value>DE</con:value>
    </con:property>
    <con:property>
      <con:name>creditorCountryINT</con:name>
      <con:value>SE</con:value>
    </con:property>
    <con:property>
      <con:name>creditorAgentSEPACtry</con:name>
      <con:value>DE</con:value>
    </con:property>
    <con:property>
      <con:name>creditorAgentSEPA</con:name>
      <con:value>COBADEFFXXX</con:value>
    </con:property>
    <con:property>
      <con:name>creditorAgentName</con:name>
      <con:value>CRED AGENT</con:value>
    </con:property>
    <con:property>
      <con:name>creditorAgentINTCtry</con:name>
      <con:value>SE</con:value>
    </con:property>
    <con:property>
      <con:name>creditorAgentINT</con:name>
      <con:value>NDEASESSXXX</con:value>
    </con:property>
    <con:property>
      <con:name>creditorAccountSEPA</con:name>
      <con:value>DE89370400440532013000</con:value>
    </con:property>
    <con:property>
      <con:name>creditAccountINT</con:name>
      <con:value>SE1395000099602602758001</con:value>
    </con:property>
    <con:property>
      <con:name>credentials</con:name>
      <con:value>03110013010400445gft3cRnCLPWWq8xlQ7RTFGToxV2ar6TuwU6Z3UeBuPGOtIilCde6ooP8yOg24ZLxjrSIpQnXuqKD/MjoNuGS8Rw4mB1dHsCbdEPzxdSUScEOatyHX5qqpMbWdg9sXd9OjrSIpQnXuqKD/MjoNuGS8Y60iKUJ17qig/zI6DbhkvGOtIilCde6ooP8yOg24ZLxjrSIpQnXuqKD/MjoNuGS8VQ+cJDNKa9VYZxw7KIYbHB8cLeYBVPv9zeRx72/R0ziZwLpDJ3GXhXq1GEwqQfSKYJ2tYpapZTAlGka5wOfU82PaZrpEiGpF2MtWFUNZT5mGde8AMKM7YjZLq7bNqLJkX2jWnq8NpJv3mKcnhxevntuGj+LNVvt9Yd3A4XTDgHK8R22vZAGljeNQwWelwnd9cTDrDHgPSubME8PWzJvEoc=</con:value>
    </con:property>
    <con:property>
      <con:name>channel</con:name>
      <con:value>ITR</con:value>
    </con:property>
    <con:property>
      <con:name>categoryPurpose1</con:name>
      <con:value>SUPP</con:value>
    </con:property>
    <con:property>
      <con:name>additionalRemittanceInformation</con:name>
      <con:value>TEST ADD REM INFO</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccountEUR</con:name>
      <con:value>NO4036250103381</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccountEURCcy</con:name>
      <con:value>EUR</con:value>
    </con:property>
    <con:property>
      <con:name>creditAccTransfer</con:name>
      <con:value>NO0436259333967</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccountIBANEUR</con:name>
      <con:value>NO4036250103381</con:value>
    </con:property>
    <con:property>
      <con:name>debitAccountIBANNOK</con:name>
      <con:value>NO5736281260639</con:value>
    </con:property>
    <con:property>
      <con:name>debitBICNO</con:name>
      <con:value>SPTRNO22XXX</con:value>
    </con:property>
    <con:property>
      <con:name>domTraCtry</con:name>
      <con:value>NO</con:value>
    </con:property>
    <con:property>
      <con:name>creditAccDom</con:name>
      <con:value>NO2635201398221</con:value>
    </con:property>
    <con:property>
      <con:name>creditAccDomIBAN</con:name>
      <con:value>NO2635201398221</con:value>
    </con:property>
    <con:property>
      <con:name>creditAccTransferIBAN</con:name>
      <con:value>NO0436259333967</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
