<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2aae442f-1aad-405c-bf9d-f9e4da5c3f45" name="PwhToRBSCopy_TestSuit" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Test suit to verify PWH to RBS copy functionality

Test steps:
Create domestic PM payment
Run capitalization batch to make payment staus COMP
Verify RBS data wrt to PWH data.</con:description>
  <con:settings>
    <con:setting id="2aae442f-1aad-405c-bf9d-f9e4da5c3f45fileName">PwhToRBSCopy_TestSuit</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>TestSuiteResult</con:name>
      <con:value>OK</con:value>
    </con:property>
  </con:properties>
  <con:setupScript>testSuite.setPropertyValue("TestSuiteResult", "OK")</con:setupScript>
  <con:reportParameters/>
</con:testSuite>
