<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="aed61a98-2c49-4ef8-a4cd-a2ec2aeb8f12" wsaVersion="NONE" name="PCASReservationCreate_V1_0ServiceSoapBinding" type="wsdl" bindingName="{http://reservations.ws.pca.finance.edb.com}PCASReservationCreate_V1_0ServiceSoapBinding" soapVersion="1_1" anonymous="optional" definition="http://139.114.222.17:5118/fts/services/PCASReservationCreate_V1_0Service?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="aed61a98-2c49-4ef8-a4cd-a2ec2aeb8f12fileName">PCASReservationCreate_V1_0ServiceSoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://139.114.222.17:5118/fts/services/PCASReservationCreate_V1_0Service?wsdl">
    <con:part>
      <con:url>http://139.114.222.17:5118/fts/services/PCASReservationCreate_V1_0Service?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="PCASReservationCreate_V1_0Service" targetNamespace="http://reservations.ws.pca.finance.edb.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://reservations.ws.pca.finance.edb.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://edb.com/ws/WSCommon_v21">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://reservations.ws.pca.finance.edb.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://edb.com/ws/WSCommon_v21"/>
      <xs:element name="PCASReservationUpdate_V1_0InputArgs" type="tns:PCASReservationUpdate_V1_0Request"/>
      <xs:element name="PCASReservationUpdate_V1_0OutputArgs" type="tns:PCASReservationUpdate_V1_0Response"/>
      <xs:complexType name="PCASReservationCreate_V1_0Request">
        <xs:sequence>
          <xs:element name="ReservationCreateQualification_V1_0" type="tns:ReservationCreateQualification_V1_0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReservationCreateQualification_V1_0">
        <xs:sequence>
          <xs:element name="AccountNo" type="xs:string"/>
          <xs:element minOccurs="0" name="CounterAccountNo" nillable="true" type="xs:string"/>
          <xs:element name="Amount" type="xs:decimal"/>
          <xs:element minOccurs="0" name="AmountCurrency" nillable="true" type="xs:string"/>
          <xs:element name="AuthRef" type="xs:long"/>
          <xs:element minOccurs="0" name="TextCode" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="FinInst" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Force" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="0" name="CheckDuplicate" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType abstract="true" name="number">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="PCASReservationCreate_V1_0Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReservationCreateResult_V1_0" type="tns:ReservationCreateResult_V1_0"/>
          <xs:element name="ResponseState" type="ns1:ResponseStateType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReservationCreateResult_V1_0">
        <xs:sequence>
          <xs:element name="AvailableBalance" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PCASReservationUpdate_V1_0Request">
        <xs:sequence>
          <xs:element name="ReservationUpdateQualification_V1_0" type="tns:ReservationUpdateQualification_V1_0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReservationUpdateQualification_V1_0">
        <xs:sequence>
          <xs:element name="AccountNo" type="xs:string"/>
          <xs:element name="OldAmount" type="xs:decimal"/>
          <xs:element name="NewAmount" type="xs:decimal"/>
          <xs:element minOccurs="0" name="AmountCurrency" nillable="true" type="xs:string"/>
          <xs:element name="AuthRef" type="xs:long"/>
          <xs:element minOccurs="0" name="TextCode" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="FinInst" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReservationUpdateResult_V1_0">
        <xs:sequence>
          <xs:element name="NewAmount" type="xs:decimal"/>
          <xs:element name="AvailableBalance" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PCASReservationUpdate_V1_0Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReservationUpdateResult_V1_0" type="tns:ReservationUpdateResult_V1_0"/>
          <xs:element name="ResponseState" type="ns1:ResponseStateType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PCASReservationCreate_V1_0InputArgs" nillable="true" type="tns:PCASReservationCreate_V1_0Request"/>
      <xs:element name="PCASReservationCreate_V1_0OutputArgs" nillable="true" type="tns:PCASReservationCreate_V1_0Response"/>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://edb.com/ws/WSCommon_v21" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://edb.com/ws/WSCommon_v21">
      <xs:element name="AutHeader" type="tns:EDBHeaderType"/>
      <xs:complexType name="EDBHeaderType">
        <xs:sequence>
          <xs:element name="SourceApplication" type="xs:string"/>
          <xs:element name="DestinationApplication" type="xs:string"/>
          <xs:element name="Function" type="xs:string"/>
          <xs:element name="Version" type="xs:string"/>
          <xs:element name="ClientContext" type="tns:ClientContextType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ClientContextType">
        <xs:sequence>
          <xs:element name="userid" type="xs:string"/>
          <xs:element name="credentials" type="xs:string"/>
          <xs:element name="channel" type="xs:string"/>
          <xs:element name="orgid" type="xs:string"/>
          <xs:element minOccurs="0" name="orgunit" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="locale" nillable="true" type="xs:string"/>
          <xs:element name="ip" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:itemType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="itemType">
        <xs:sequence/>
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
      </xs:complexType>
      <xs:complexType name="ResponseStateType">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:int"/>
          <xs:element name="Severity" type="xs:int"/>
          <xs:element name="ComponentId" type="xs:int"/>
          <xs:element minOccurs="0" name="StrErrorCode" nillable="true" type="xs:string"/>
          <xs:element name="Message" type="xs:string"/>
          <xs:element minOccurs="0" name="NativeError" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="LogSequence" nillable="true" type="xs:long"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="errorItem" nillable="true" type="tns:errorItemType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="errorItemType">
        <xs:sequence/>
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="pCASReservationCreate_V1_0">
    <wsdl:part element="tns:PCASReservationCreate_V1_0InputArgs" name="PCASReservationCreate_V1_0RequestIn"></wsdl:part>
    <wsdl:part element="ns1:AutHeader" name="SoapHeader"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="pCASReservationCreate_V1_0Response">
    <wsdl:part element="tns:PCASReservationCreate_V1_0OutputArgs" name="PCASReservationCreate_V1_0ResponseOut"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PCASReservationCreate_V1_0Port">
    <wsdl:operation name="pCASReservationCreate_V1_0">
      <wsdl:input message="tns:pCASReservationCreate_V1_0" name="pCASReservationCreate_V1_0"></wsdl:input>
      <wsdl:output message="tns:pCASReservationCreate_V1_0Response" name="pCASReservationCreate_V1_0Response"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PCASReservationCreate_V1_0ServiceSoapBinding" type="tns:PCASReservationCreate_V1_0Port">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pCASReservationCreate_V1_0">
      <soap:operation soapAction="pCASReservationCreate_V1_0" style="document"/>
      <wsdl:input name="pCASReservationCreate_V1_0">
        <soap:header message="tns:pCASReservationCreate_V1_0" part="SoapHeader" use="literal"></soap:header>
        <soap:body parts="PCASReservationCreate_V1_0RequestIn" use="literal"/>
      </wsdl:input>
      <wsdl:output name="pCASReservationCreate_V1_0Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PCASReservationCreate_V1_0Service">
    <wsdl:port binding="tns:PCASReservationCreate_V1_0ServiceSoapBinding" name="PCASReservationCreate_V1_0Service">
      <soap:address location="http://139.114.222.17:5118/fts/services/PCASReservationCreate_V1_0Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://${#Project#PCA_Masked_A}/fts/services/CAUCJobService</con:endpoint>
    <con:endpoint>http://${#Project#PCA_Masked_U}/fts/services/CAUCJobService</con:endpoint>
    <con:endpoint>http://${#Project#PCA_Masked_V}/fts/services/CAUCJobService</con:endpoint>
    <con:endpoint>http://139.114.222.17:5118/fts/services/PCASReservationCreate_V1_0Service</con:endpoint>
  </con:endpoints>
</con:interface>
