<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8916bb15-e0a4-4ee7-82fe-3a2707f21a5b" name="FilePayments_ApproveSingleTransaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b29b7865-83c6-4f62-8f39-e453a7f33b94fileName">FilePayment_SingleTransaction</con:setting>
    <con:setting id="7d44ad49-fdb8-4d7d-88d3-1b3881622265fileName">FilePayments_ApproveSingleTransaction</con:setting>
    <con:setting id="8916bb15-e0a4-4ee7-82fe-3a2707f21a5bfileName">FilePayments_ApproveSingleTransaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
